{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@": ".",
                    "@samples": "./samples",
                    "@assets": "./assets",
                    "@css": "./assets/css",
                    "@src": "./src",
                    "@global": "./src/global",
                    "@editor": "./src/editor",
                    "@model": "./src/model",
                    "@model-concept": "./src/model/concept",
                    "@model-attribute": "./src/model/attribute",
                    "@model-component": "./src/model/component",
                    "@projection": "./src/projection",
                    "@field": "./src/projection/field'",
                    "@exception": "./src/exception",
                    "@utils": "./src/utils"
                }
            }
        ]
    ]
}