{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "@": ".",
                "@src": "./src",
                "@utils": "./src/utils",
                "@css": "./assets/css"
            }
        }]
      ]
}
