.content-wrapper--header {
    display: flex;
    background: #404040;
    height: 32px;
}

.logo { 
    position: relative;
    display: block;
    margin: 0;
    padding-left: 10px; padding-right: 10px;
    color: #fff; 
    text-decoration: none; 
    font-size: 1.5em;
    line-height: 32px;
    background-color: #36454F;
    z-index: 2;
}
    .logo:before {
        content: "";
        position: absolute;
        top: 0; right: 100%; bottom: 0; left: -200px;
        background-color: #e3e3e3;
        z-index: -1;
    }

    
.header-nav {
    height: 100%;
    padding: 4px 5px 6px;
    background-color: #d3d3d3;
    box-sizing: border-box;
}

.nav { display: flex; }

    .nav-item { 
        color: #1b1b1b;
        font-size: 1.5em;
        border-radius: 2px;
        transition: box-shadow .2s, background-color .5s;
    }
        .nav-item:not(.selected):hover {
            color: #d3d3d3;
            background-color: #777;
            box-shadow: 0 1px 2px #555;
        }
        .nav-item.selected {
            background-color: #f0f0f0;    
            box-shadow: inset 0 1px 2px #555;
            font-weight: 500;
        }

        .nav-item__link {
            display: block;
            padding: 0 7px 2px;
            color: inherit; 
            text-decoration: none; 
        }