.editor-header {
    position: relative;
    display: flex; flex-direction: column;
    max-height: 50%;
    color: #333;
    transition: .2s;
    background-color: #f5f5f5;
    z-index: 10;
}
    .editor-header:hover {
        background-color: #f0f0f0;
    }
    
    .editor-header.collapsed .editor-header-main {
        max-height: 24px;
        opacity: 0.5;
        overflow: hidden;
    }

.editor-header-menu {
    display: flex; flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%; 
}

.editor-header-main {
    display: flex;
    flex-grow: 1;
    padding: 8px 1%;
    background: #fff;
    transition: .2s;
    overflow: auto;
}

    .editor-header-title {
        font: 600 1.3rem 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif;
        color: #555;
    }

/*
  Tabs
-----------------------------------------------------------------------------*/

.editor-header-tabs {
    align-self: flex-start;
    display: flex;
    padding-left: 1%; padding-right: 1%;
    justify-content: center;
    height: 100%;
    cursor: default;
    background-color: #fff;
}

    .editor-header-tab {
        position: relative;
        padding-left: 12px; padding-right: 12px;
        line-height: 34px;
        font-size: 1.4rem;
        background-color: #d5d5d5;
        transition: .2s;
    }

        .editor-header-tab.selected {
            background-color: #fff;
            font-weight: 600;
            color: #555;
            height: 100%;
            z-index: 5;
        }
            .editor-header-tab.selected:after {
                content: "";
                position: absolute;
                right: 4px; left: 4px; bottom: 2px;
                height: 4px;
                border-radius: 180px;
                background-color: #d5d5d5;
            }
        .editor-header-tab:not(.selected) {
            transform: scale(0.85);
            border-radius: 4px;
        }
            .editor-header-tab:not(.selected):hover {
                background-color: #f0f0f0;
                transform: scale(0.95);
            }
        .editor-header-tab:not(:last-child) {
            margin-right: 4px;
        }
    
    .editor-selector__notification {
        position: absolute;
        top: 0; right: 0;
        font-style: normal;
        width: 24px; height: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 24px;
        color: #fff;
        border-radius: 50%;
        background-color: #e01f5fc9;
        box-shadow: 1px 2px 2px #555;
        transform: translate(50%, -10%);
    }


/*
    Selectors
-----------------------------------------------------------------------------*/

.editor-selectors {
    display: flex; align-items: flex-start;
}
    .editor-selector {
        position: relative;
        display: flex; flex-direction: column;
        margin-right: 8px; margin-bottom: 6px;
        text-align: center; text-transform: capitalize;
        font-size: 1.3rem; font-weight: 600;
        border-radius: 2px;
        background-color: #fcfcfc;
        box-shadow: 0 1px 2px #777;
        cursor: default;
        transition: .2s;
    }
        .editor-selector:hover {
            box-shadow: 0 0 4px 2px #c0c0c0;
        }

        .editor-selector__header {
            position: relative;
            display: flex; justify-content: space-between; align-items: center;
            padding: 4px 12px 8px;
            border-bottom: 1px solid #bdbdbd;
        }
            .editor-selector.collapsed .editor-selector__header {
                border-color: #d5d5d5;
            }

        .editor-header .btn-collapse {
            position: absolute;
            display: flex; justify-content: center;
            top: calc(100% - 9px); right: calc(100% - 24px);
            height: 18px; 
            width: 18px;
            font-size: 1rem;
            border: 1px solid; border-radius: 50%;
            outline: none;
            transition: .2s;
            z-index: 5;
        }

        .editor-header .btn-collapse:hover {
            transform: scale(1.1);
        }

            .editor-header .btn-collapse:after {
                transition: transform .2s;
            }
                .btn-collapse[data-state="ON"]:after {
                    content: "+";
                    color: #555;
                    padding-bottom: 1px;
                    transform: scale(2);
                }
                .btn-collapse[data-state="OFF"]:after {
                    content: "-";
                    color: #fff;
                    padding-bottom: 2px;
                    transform: scale(3);
                }

                .btn-collapse[data-state="ON"] {
                    background-color: #fff;
                    border-color: #d5d5d5;
                    box-shadow: 1px 0 1px -1px #555;
                }
                .btn-collapse[data-state="OFF"] {
                    right: 6px;
                    background-color: #555;
                    border-color: #444;
                    box-shadow: -1px 0 1px -1px #222;
                }

        .editor-selector.collapsed .editor-selector__preview {
            display: none;
        }
        
        .editor-selector__title {
            margin: 0;
            min-width: 120px;
            white-space: nowrap;
            font-family: inherit; font-size: 1.1em; font-weight: 600;
            color: #222;
        }
            
            .editor-selector__title-concept {
                white-space: nowrap;
                text-transform: lowercase;
                color: #333;
            }
                .editor-selector__title-concept:before { content: "@"; }
            
            .editor-selector__title-accept {
                margin-left: 2px;
                font-size: 0.95em;
                white-space: nowrap;
                text-transform: lowercase;
                font-weight: 400; font-style: italic;
                color: #555;
            }
                .editor-selector__title-accept:before,
                .editor-selector__title-accept:after {
                    font: bold 1.05em Consolas, 'Courier New', Courier, monospace; 
                    color: #638AFF; 
                }
                .editor-selector__title-accept:before { content: "{"; }
                .editor-selector__title-accept:after { content: "}"; }

            
                .editor-selector__title-accept:after { content: "}"; font-family: Consolas, 'Courier New', Courier, monospace;}
    
        .editor-selector__preview {
            padding: 2px 6px;
            flex: 1 1;
            min-width: 150px; max-width: 360px; 
            max-height: 120px;
            font-size: 1.4rem; font-weight: 400;
            text-align: left;
            overflow: auto;
            color: #333;
        }

            .editor-selector__preview-attributes {
                display: flex; flex-direction: column; align-items: flex-start;
            }
    
            .editor-selector__preview-attribute {
                display: flex; flex-wrap: wrap; width: 100%;
            }
        
                .editor-selector__preview-attribute > .editor-selector__preview-attributes {
                    padding-top: 4px;
                    padding-left: 4px;
                }
    
            .editor-selector:hover .editor-selector__preview-attributes {
                font-size: 1em;
            }
        
            .editor-selector__preview-list {
                display: flex; flex-direction: row;
            }
    
            .editor-selector__preview-list-item {
                display: flex;
                margin-right: 4px; margin-bottom: 4px;
                padding: 2px 4px;
                border-radius: 1px;
                border: 2px dashed #c0c0c0;
            }
    
    
            .editor-selector__preview-text--attribute {
                font-weight: 500;
                color: #009473;
            }

            .editor-selector__preview-text--target {
                font-weight: 500;
            }

            .editor-selector__preview-text--target-accept {
                margin-left: 2px;
                font-size: 0.95em;
                white-space: nowrap;
                text-transform: lowercase;
                font-weight: 400; font-style: italic;
                color: #555;
            }
                .editor-selector__preview-text--target-accept:before,
                .editor-selector__preview-text--target-accept:after {
                    font: bold 1.05em Consolas, 'Courier New', Courier, monospace; 
                    color: #638AFF; 
                }
                .editor-selector__preview-text--target-accept:before { content: "{"; }
                .editor-selector__preview-text--target-accept:after { content: "}"; }
    
            .editor-selector__preview-text--attribute + .editor-selector__preview-text:before {
                content: ": ";
            } 
    
            .editor-selector__preview-text--attribute + .editor-selector__preview-null:before {
                content: ": ";
            } 
    
            .editor-selector__preview-text--attribute + .editor-selector__preview-list  {
                width: 100%;
            } 
            
            .editor-selector__preview-concept {
                display: block;
                white-space: nowrap;
            }

            .editor-selector__preview-tags {
                margin-top: 6px;
                display: flex; flex-wrap: wrap;
            }
                .editor-selector__preview-tag {
                    white-space: nowrap;
                    color: #638AFF;
                    text-transform: lowercase;
                }
                    .editor-selector__preview-tag:before {
                        content: "#"
                    }
                    .editor-selector__preview-tag:not(:last-child) {
                        margin-right: 4px;
                    }
        
        
        .editor-selector__action-bar {
            padding: 8px 6px 6px;
            display: flex; justify-content: flex-end;
            border-top: 1px solid #d5d5d5;
            background-color: #fcfcfc;
        }

            .editor-selector__action-bar-button {
                font-weight: 500;
                padding: 5px 8px 6px;
                border-radius: 2px;
                text-transform: uppercase;
                box-shadow: 0 1px 2px -1px #555;
                cursor: pointer;
            }
                .editor-selector__action-bar-button:not(:first-child) {
                    margin-left: 6px;
                }

            .editor-selector__action-bar-button--clone {
                margin-left: 6px;
                color: #695399;
                background-color: #fcfcfc;
            }
                .editor-selector__action-bar-button--clone:hover {
                    color: #fff;
                    background-color: #5F4B8B;
                }

            .editor-selector__action-bar-button--delete {
                color: #555;
                background-color: #f5f5f5;
            }
                .editor-selector__action-bar-button--delete:hover {
                    color: #fff;
                    background-color: #E0115F;
                }


/*
  Breadcrumb
-----------------------------------------------------------------------------*/

.editor-breadcrumb {
    display: flex;
    height: 24px;
    width: 100%;
    border-bottom: 4px dotted #999;
}

.selector-concepts {
    position: relative;
    display: flex; align-items: center;
    padding-left: 1%;
    transform: translateY(50%);
    z-index: 2;
}

    .selector-concept {
        position: relative;
        display: flex; align-items: center; justify-content: center;
        color: #fff;
        padding: 4px 8px;
        line-height: 1.15;
        min-width: 48px;
        border-radius: 180px;
    }
        .selector-concept:not(:last-child) { margin-right: 6px; }
    
    .selector-concept--root {
        height: 24px;
        width: 24px;
        min-width: auto;
        background-color: #222;
        border-radius: 2px;
    }

        .selector-concept--root .selector-concept-content {
            display: flex;
            width: 6px; height: 6px; 
            border-radius: 50%;
            background-color: #fff;
            color: transparent;
            overflow: hidden;
        }

    .selector-concept--parent {
        font-size: 1.2em; font-weight: 500;
        background-color: #555;
    }

    .selector-concept--ancestor {
        font-size: 1.2em; font-weight: 500;
        padding: 4px 12px 5px;
        color: #555;
        background-color: #d5d5d5;
    }
    
    .selector-concept--active {
        flex-grow: 2;
        font-size: 1.3em;
        padding: 0;
        color: #fff;
        border-radius: 2px;
        background-color: royalblue;
    }

        .selector-concept--active .selector-concept-content {
            padding: 2px 12px 6px;
            font-weight: 600;
        }
    
    .selector-concept-nature {
        font-style: normal;
        padding: 4px 8px 5px;
        font-weight: 400; font-size: 0.9em;
        text-transform: uppercase;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background-color: #638AFF;
    }
 

/*
  Toolbar
-----------------------------------------------------------------------------*/

.editor-toolbar {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-end;
    padding: 6px 1%; 
    align-self: flex-start;
    background-color: #f0f0f0;
    overflow: hidden;
    transition: .2s;
}
    .editor-toolbar:hover {
        background-color: #c0c0c0;
        border-bottom-left-radius: 10px;
        z-index: 10;
    }

    .editor-toolbar__button {
        position: relative;
        display: block;
        padding: 0;
        width: 24px;
        height: 24px;
        font-size: 1.4rem; font-weight: 500;
        border-radius: 50%;
        background-color: #f0f0f0;
        box-shadow: 0 1px 2px  #555;
        transition: .2s;
    }
        .editor-toolbar__button:after {
            display: block;
            color: #555;
            transition: .4s;
        }
        .editor-toolbar__button:disabled {
            background-color: #c0c0c0;
            box-shadow: none;
            opacity: 0.5;
        }
        .editor-toolbar__button:hover {
            background-color: #fff; 
        }
            .editor-toolbar__button:hover:after {
                color: #222;
            }
        .editor-toolbar__button:not(:last-child) {
            margin-right: 12px;
        }

        .editor-toolbar__button--close:after {
            content: "✖";
        }
        .editor-toolbar__button--close:hover:after {
            transform: rotate(-180deg) scale(1.2) translateY(-2px);
        }

        .editor-toolbar__button--save:after {
            content: "➜";
            font-weight: 800;
            transform: scale(1.2) rotate(90deg) translateX(-3px);
        }
        .editor-toolbar__button--save:before {
            content: "";
            position: absolute;
            height: 3px;
            bottom: 4px; left: 4px; right: 4px;
            background-color: #555;
            border-radius: 180px;
        }
        .editor-toolbar__button--save:hover:after {
            color: #222;
            transform: scale(1.1) rotate(90deg) translateX(-1px);
        }

            .editor-toolbar__button--home:after {
                content: "•••";
            }
            .editor-toolbar .btn-home:hover:after {
                
                letter-spacing: -1px;
                transform: rotate(-270deg) scale(1.3) translate(-1px, -2px);
            }

    .editor-toolbar .btn-new {
        display: block;
        margin-right: 12px;
        width: 24px;
        height: 24px;
        padding: 0;
        font-size: 2rem; font-weight: 400;
        color: #fff;
        background-color: royalblue;
        box-shadow: 0 1px 1px #777;
        border-radius: 50%;
        transition: .2s;
    }
        .editor-toolbar .btn-new:after {
            content: "+";
            display: block;
            width: 100%; 
            height: 100%;
            transition: .4s;
        }
        .editor-toolbar .btn-new:hover {
            background-color: #638AFF;
            
        }
            .editor-toolbar .btn-new:hover:after {
                transform: rotate(180deg) scale(1.1) translateY(-2px);
            }

    .editor-toolbar .btn-style {
        display: block;
        margin-right: 12px;
        width: 24px;
        height: 24px;
        padding: 0;
        line-height: 15px;
        color: #fff;
        background-color: #e01f5e;
        box-shadow: 0 1px 1px #777;
        border-radius: 50%;
        transition: .2s;
    }
        .editor-toolbar .btn-style:after {
            content: "#";
            font-size: 16px; font-weight: 600;
        }
        .editor-toolbar .btn-style:hover {
            background-color: #ed3972;
            transform: rotate(360deg) scale(1.1);
        }

    .editor-header__button--resize {
        position: absolute;
        bottom: 0; left: calc(50% - 24px);
        display: block;
        width: 24px;
        height: 24px;
        padding: 0;
        font-size: 1.4rem; font-weight: 500;
        background-color: #f0f0f0;
        box-shadow: 0 1px 2px  #555;
        border-radius: 50%;
        transform: translateY(50%);
        transition: .2s;
    }

    .editor-header__button--resize:after {
        content: "=";
    }

.editor-header__button--collapse {
    position: absolute;
    display: flex; justify-content: center; align-items: flex-end;
    bottom: 0; right: 24px;
    width: 30px; height: 18px;
    font-size: 1rem; font-weight: bold;
    color: #555;
    border-top-left-radius: 2px; border-top-right-radius: 2px;
    background-color: #d5d5d5;
    outline: none;
    transition: .2s;
    z-index: 5;
}

    .editor-header__button--collapse:hover {
        transform: scale(1.1);
    }
    .editor-header__button--collapse[data-state="ON"] {
        align-items: center;
    }

    .editor-header__button--collapse:after {
        content: "❯"; 
        text-shadow: 0 0 0;
        transition: .2s;
    }
        .editor-header__button--collapse[data-state="ON"]:after {
            transform: scale(2) rotate(90deg);
        }
            .editor-header__button--collapse[data-state="ON"]:hover:after {
                text-shadow: 2px 0 0 #777;
                transform: scale(2,2.2) rotate(90deg);
            }
        .editor-header__button--collapse[data-state="OFF"]:after {
            transform: scale(2) rotate(-90deg);
        }
            .editor-header__button--collapse[data-state="OFF"]:hover:after {
                text-shadow: 2px 0 0 #777;
                transform: scale(2,2.2) rotate(-90deg);
            }