.editor-home-section {
    display: flex; flex-direction: column; align-items: center;
    padding-top: 12px; padding-bottom: 12px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 3px 2px -1px #999;
}
    .editor-home-section:not(:last-child) {
        margin-right: calc(2% + 2px);
    }

    .editor-home-section__title {
        margin: 0; margin-bottom: 4px;
        font-size: 1.8em; font-weight: 400;
        color: rgba(50, 50, 50, 0.95);
    }

    .editor-home-section__content {
        display: flex;
    }

    .editor-home-section__menu {
        display: flex; flex-direction: column;
    }

    .editor-home-section__menu:not(:last-child) {
        margin-right: 12px;
    }

    .editor-home-section--model__content {
        flex-direction: row;
    }



    .editor-home-section__drop-area {
        flex: 1 1;
        position: relative;
        display: flex; flex-direction: column; align-items: center;
        border: 2px solid #d5d5d5;
        background-color: #f5f5f5;
        overflow: hidden;
        padding: 12px 18px 6px;
        border-radius: 6px;
    }
    .editor-home-section__drop-area.highlight {
        border-color: purple;
    }

    .editor-home-section__drop-area.empty {
        border-style: dashed;
        background-color: #eee;
    }

    .editor-home-section .drop-area__file-section {
        display: flex; flex-direction: row; justify-content: space-between;
        width: 100%;
        height: 120px;
    }

    .editor-home-section__drop-area .file-section__icon {
        position: relative;
        display: flex; flex-wrap: wrap;
        text-align: center;
        max-width: 120px; height: 100%;
        /* opacity: 0.6; */
        overflow: auto;
        transition: .2s;
    }

    .file-concept {
        width: 12px;
        height: 12px;
        overflow: hidden;
        display: flex;
        background-color: #d5d5d5;
        border-radius: 2px;
        color: transparent;
        box-shadow: 1px 1px 1px -1px #999;
        margin-right: 2px; margin-bottom: 2px;
    }
     

        .file-section__actionbar {
            display: flex; flex-direction: column;
            margin-left: 12px;
        }

        .file-section__actionbar-button {
            position: relative;
            margin-top: 6px;
            padding: 0;
            width: 24px;
            height: 24px;
            font-size: 1.4rem; font-weight: 500;
            border-radius: 50%;
            background-color: #f0f0f0;
            box-shadow: 0 1px 2px  #555;
            opacity: 0.9;
            transition: .2s;
        }    
            
            .file-section__actionbar-button:hover {
                background-color: #6970D1;
            }
            .file-section__actionbar-button:disabled {
                color: #d5d5d5;
                background-color: #969696;
                opacity: 0.9;
            }
            .file-section__actionbar-button:before {
                display: block;
                transition: .4s;
            }
            .file-section__actionbar-button:after {
                display: block;
                transition: .4s;
            }

        .file-section__actionbar-button--download:after {
            display: block;
            content: "➜";
            font-weight: 800;
            transform: scale(1.1) rotate(90deg) translate(-3px, 0);
        }
        .file-section__actionbar-button--download:before {
            content: "";
            position: absolute;
            height: 3px;
            bottom: 4px; left: 4px; right: 4px;
            background-color: #555;
            border-radius: 180px;
        }
        .file-section__actionbar-button--download:not(:disabled):hover:after {
            color: #222;
            transform: scale(1.1) rotate(90deg) translate(-1px, -1px);
        }

        .file-section__actionbar-button--reload:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            bottom: 2px; left: calc(50% - 4px);
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            border-top: 4px solid #222;
            transform: rotate(25deg);
        }
        .file-section__actionbar-button--reload:before {
            content: "";
            position: absolute;
            height: 14px;
            width:  4px;
            top: 4px; left: 50%;
            background-color: #555;
            border-radius:  180px 180px 0 0;
            transform: rotate(25deg);
        }
        .file-section__actionbar-button--reload:not(:disabled):hover:before {
            transform: rotate(25deg) scale(1.1);
        }
        .file-section__actionbar-button--reload:not(:disabled):hover:after {
            transform: rotate(25deg) scale(1.1);
        }



        .editor-home-section__drop-area--model:hover {
            border-color: #2d71b5;
        }
        .editor-home-section__drop-area--projection:hover {
            border-color: #b52d44;
        }
            .editor-home-section__drop-area:hover:before {
                transform: skew(-2deg) translateY(-4px);
                opacity: 0.8;
            }
            
            .editor-home-section__drop-area:hover:after {
                opacity: 0.8;
            }

            .editor-home-section__drop-area--model .drop-area__button {
                background-color: #2d71b5;
            }

         
            .editor-home-section__drop-area--projection .drop-area__button {
                background-color: #b52d44;
            }

    .drop-area__instruction {
        margin: 0; margin-top: 6px;
        display: flex; flex-direction: column; align-items: center;
        font-size: 1.4em;
    }

        .drop-area__button {
            position: relative;
            padding: 3px 6px 4px;
            width: 124px;
            margin-top: 6px;
            font-size: 0.95em; font-weight: 500;
            text-align: center;
            color: #fff;
            border-radius: 2px;
            background-color: #2d71b5;
            opacity: 0.8;
            transition: .2s;
            cursor: pointer;  
        }

    
    .editor-home-section--model__button {
        position: relative;
        align-self: center;
        margin-top: 12px;
        width: 72px; height: 72px;
        letter-spacing: 1px;
        font-size: 1.7rem; font-weight: 800;
        text-align: center;
        border-radius: 50%;
        text-transform: capitalize;
        color: #fff;
        background-color: #2db561;
        box-shadow: 0 0 4px -1px #106932;
        transition: .2s;
        cursor: pointer;
    }
        .editor-home-section--model__button::first-letter {
            font-size: 1.1em;
        }
        .editor-home-section--model__button:disabled {
            color: #f5f5f5;
            background-color: #a5a5a5;
            box-shadow: none;
            opacity: 0.9;
            transform: scale(0.9);
        }
            .editor-home-section .btn:not(:disabled):hover { 
                transform: scale(1); 
                opacity: 1; 
            }
    
    
    .loader-option:active {
        box-shadow: none;
    }
        .loader-option:active:before {
            opacity: 1;
        }