.editor-home-section {
    padding: 12px 24px 18px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 2px #999;
}
    .editor-home-section:not(:last-child) {
        margin-right: calc(2% + 2px);
    }

    .editor-home-section__title {
        margin: 0; margin-bottom: 4px;
        font-size: 1.8em; font-weight: 400;
        color: rgba(50, 50, 50, 0.95);
    }

    .editor-home-section__content {
        display: flex;
    }

    .editor-home-section--design__content {
        flex-direction: column;
    }

    .editor-home-section--model__content {
        flex-direction: row;
    }

    .editor-home-section__drop-area:not(:last-child) {
        margin-right: 6px;
    }


    .editor-home-section__drop-area {
        position: relative;
        display: flex; flex-direction: column; align-items: center;
        border: 2px dashed #d5d5d5;
        background-color: #f5f5f5;
        overflow: hidden;
        padding: 60px 24px 6px;
        border-radius: 6px;
    }
      
        .editor-home-section__drop-area:before {
            content: attr(data-type) " file {JSON}";
            position: absolute;
            top: 6px;
            width: 36px; height: 48px;
            border-radius: 1px;
            text-align: center;
            background-color: #f0f0f0;
            border: 2px dashed #d5d5d5;
            transform: skew(-6deg);
            box-shadow: 2px 2px 0 #c0c0c0;
            overflow: hidden;
            opacity: 0.6;
            transition: .2s;
            z-index: 1;
        }
        .editor-home-section__drop-area:after {
            content: "";
            position: absolute;
            top: 30px;
            width: 80px; height: 24px;
            border: 4px solid #d5d5d5; border-top: 0;
            border-radius: 50%;
            opacity: 0.5;
            z-index: 2;
        }

        .editor-home-section__drop-area--model:hover {
            border-color: #2d71b5;
        }
        .editor-home-section__drop-area--projection:hover {
            border-color: #b52d44;
        }
            .editor-home-section__drop-area:hover:before {
                transform: skew(-2deg) translateY(-4px);
                opacity: 0.8;
            }
            .editor-home-section__drop-area:hover:after {
                opacity: 0.8;
            }
        
        .editor-home-section__drop-area--model:before,
        .editor-home-section__drop-area--model:after {
            border-color: #2d71b5;
        }
        
            .editor-home-section__drop-area--model .drop-area__button {
                background-color: #2d71b5;
            }

        .editor-home-section__drop-area--projection:before,
        .editor-home-section__drop-area--projection:after {
            border-color: #b52d44;
        }
        
            .editor-home-section__drop-area--projection .drop-area__button {
                background-color: #b52d44;
            }

    .drop-area__instruction {
        margin: 0;
        display: flex; flex-direction: column; align-items: center;
        font-size: 1.4em;
    }

        .drop-area__button {
            position: relative;
            padding: 3px 6px 4px;
            display: flex; flex-direction: column; 
            justify-content: center; align-items: center;
            margin-top: 6px;
            font-size: 0.95em; font-weight: 500;
            text-align: center;
            color: #fff;
            border-radius: 2px;
            background-color: #2d71b5;
            opacity: 0.8;
            transition: .2s;
            cursor: pointer;  
        }
       
    .loader-option--new {
        margin-top: 4px;
        display: flex; justify-content: flex-end;
    }

    .editor-home-section__button {
        position: relative;
        display: flex; flex-direction: column; 
        justify-content: center; align-items: center;
        margin-top: 6px;
        width: 120px; 
        padding: 8px 12px; 
        font-size: 1.5em; font-weight: 800;
        text-align: center;
        border-radius: 4px;
        text-transform: capitalize;
        color: #fff;
        background-color: #2d71b5;
        transition: .2s;
        cursor: pointer;
    }
        .editor-home-section .btn:hover { transform: scale(1.05); opacity: 1; }
    
    
    .loader-option:active {
        box-shadow: none;
    }
        .loader-option:active:before {
            opacity: 1;
        }