.menu-header {
    display: flex;
    flex-direction: column;
    height: 180px;
    padding: 42px 5%;
    background-color: #555;
    color: #fff;
}

.editor-home__title {
    margin: 0; margin-bottom: 10px;
    font-size: 2em;
}

.menu-content {
    margin: 0;
    font-size: 1.6em;
    line-height: 1.35;
}

.loader-container {
    position: relative;
    flex-grow: 1;
    display: flex; align-items: flex-start;
    padding: 60px 5%;
    width: 100%;
    background-color: #3b3b3b;
}
    .loader-container:after {
        content: "Gentleman";
        position: absolute;
        bottom: 5%; right: 5%;
        font: italic 2rem Garamond, Baskerville, Georgia, 'Times New Roman', Times, serif;
        color: #fff;
        text-shadow: 0 0 1px #fff;
        opacity: 0.4;
    }

.loader-options {
    width: 100%; max-width: 480px;
    padding: 12px 24px 18px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 2px -1px #1b1b1b;
    background-color: #2b2b2b;
}
    .loader-options:not(:last-child) {
        margin-right: calc(2% + 2px);
    }

.loader-options-action {
    display: flex; justify-content: center;
    padding: 24px;
    background-color: #222;
    border-radius: 10px;
}

.loader-option {
    position: relative;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    margin-right: 18px;
    width: 108px; height: 108px; 
    font-size: 1.6em;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #2d71b5;
    box-shadow: 1px 2px 2px #103C69;
    transition: .2s;
    cursor: pointer;
}
    .loader-option:last-child {
        margin-right: 0;
    }
    .loader-option--new {
        background-color: #E86923;
        box-shadow: 1px 2px 2px #E8590C;
    }
        .loader-option__action {
            font-size: 1.4em; font-weight: 800;
            text-transform: capitalize;
            margin-bottom: 2px;
            color: rgba(255, 255, 255, 0.85);
        }
        .loader-option__type {
            font-weight: 400;
            padding: 2px 8px 4px;
            border-radius: 10px;
            box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
        }

    .loader-option:hover {
        box-shadow: 0 0 5px #fff;
        transform: scale(1.05);
    }
        .loader-option:hover .loader-option__action {
            color: #fff;
        }
        .loader-option:hover:before {
            opacity: 0.5;
        }
        .loader-option:hover:after {
            transform: scale(1.2);
            z-index: -1;
        }
    .loader-option:active {
        box-shadow: none;
    }
        .loader-option:active:before {
            opacity: 1;
        }

    .loader-options-title {
        margin: 0;
        padding: 12px 0;
        font-size: 2em;
    }

    .loader-options-content {
        margin: 0;
        padding: 0 0 12px;
        font-size: 1.6em;
        /* background-color: #f0f0f0; */
    }

@media screen and (max-width: 46em) {
    .loader-container {
        flex-direction: column;
    }
 
        .loader-options:not(:last-child) {
            margin-right: 0;
            margin-bottom: calc(2% + 2px);
        }
}

@media screen and (max-width: 60em) {
    .loader-option {
        font-size: 1.5em;
        width: 100px; height: 100px; 
        margin-right: 12px;
    }
}