.model-concept-section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

    .editor-concept {
        position: relative;
        margin-right: 12px; margin-bottom: 12px;
        padding: 0 8px 12px;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: #575757;
        overflow: hidden;
    }
        .editor-concept.active-parent {
            border-radius: 4px;
            background-color: #333;
            overflow: unset;
        }
        .editor-concept.focus {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            margin: 0;
            border-radius: 0;
            background-color: #f5f5f5;
            z-index: 10;
            overflow: auto;
        }

        .editor-concept.focus .editor-concept-toolbar__btn-maximize {
            color: #555;
            background-color: rgba(225, 225, 225, 0.1);
        }

        .editor-concept.focus .editor-concept-toolbar__btn-delete {
            color: #555;
            background-color: rgba(225, 225, 225, 0.1);
        }

    .editor-concept-toolbar {
        display: flex; justify-content: flex-end;
        padding-top: 6px; padding-bottom: 6px;
    }

    .editor-concept-toolbar__btn-build {
        position: absolute; left: 8px;
        font-size: 1.4rem; font-weight: 600;
        width: 42px;
        height: 24px;
        border-radius: 4px;
        color: #FFD300;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 1px 2px #343434;
    }    
        .editor-concept-toolbar__btn-build:before {
            content: "▶";
            display: block;
            transition: .4s;
        }

    .editor-concept-toolbar__btn-maximize {
        font-size: 1.4rem; font-weight: 600;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 1px 2px #343434;
        z-index: 5;
    }
        .editor-concept-toolbar__btn-maximize:before {
            content: "▢";
            display: block;
            transition: .25s;
        }
        .editor-concept-toolbar__btn-maximize:hover {
            box-shadow: 0 1px 1px #1b1b1b;
            background-color: rgba(25, 25, 25, 0.1);
        }
            .editor-concept-toolbar__btn-maximize:hover:before {
                transform: skew(-1deg) scale(1.3);
                text-shadow: 2px -2px 0 rgba(255, 255, 255, 0.4);
            }

    .editor-concept-toolbar__btn-delete {
        margin-left: 4px;
        font-size: 1.4rem; font-weight: 600;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 1px 2px  #343434;
        z-index: 5;
    }
        .editor-concept-toolbar__btn-delete:before {
            content: "✖";
            display: block;
            transition: .4s;
        }
        .editor-concept-toolbar__btn-delete:hover {
            background-color: rgba(25, 25, 25, 0.1);
            box-shadow: 0 1px 1px #1b1b1b;
        }
            .editor-concept-toolbar__btn-delete:hover:before {
                transform: rotate(180deg) scale(1.1) translateY(-2px);
            }

    .editor-concept > .layout-container {
        box-sizing: border-box;
        background: linear-gradient(to bottom, #fefefe, #f9f9f9);
    }

    .editor-concept.active-parent > .layout-container {
        background-color: #fff;
        /* overflow: visible; */
        /* overflow-y: auto; */
    }

    .editor-concept.focus > .layout-container {
        max-height: 100%;
    }

    .editor-concept-preview {
        position: absolute;
        top: 0; right: 0; bottom: 0;
        padding: 20px calc(1% + 6px) 12px;
        width: 400px;
        background-color: #f5f5f5;
        border-left: 2px solid #8095d9;
    }

    .editor-concept-footer {
        display: flex; align-items: center;
        margin: 0; margin-top: 12px;
        padding: 8px 12px 6px;
        color: #ff0033; 
        text-shadow: 1px 0 1px #555;
        border-radius: 6px;
        background: linear-gradient(100deg, rgba(225, 225, 225, 0.2), rgba(245, 245, 245, 0.1) 100%, transparent);
        box-shadow: inset 1px 1px 2px #1b1b1b;
    }
        .editor-concept-footer:before {
            content: "!";
            display: inline-flex; align-items: center; justify-content: center;
            margin-right: 4px;
            width: 24px; height: 24px;
            font-size: 2rem; font-weight: bold;
            border-radius: 50%;
            color: #FA6A5A;
            border: 2px solid currentColor;
        }


.model-concept {
    position: relative;
    box-sizing: border-box;
    border-top-left-radius: 2px; border-top-right-radius: 2px;
}

    .model-concept-header {
        padding: 8px 12px;
        width: 100%;
        box-sizing: border-box;
        font-size: 1rem;
        color: #333;
        border-top-left-radius: 4px; border-top-right-radius: 4px;
        background-color: #e5e4e2;
    }    

        .model-concept-header__title {
            font-size: 1.6em; font-weight: 500;
        }

        .model-concept-header .field--textbox__input {
            font-size: 1.4rem;
            border-bottom: 2px solid #777;
            background-color: #f9f9f9;
        }

            .model-concept-header .field--textbox__input:focus {
                border-color: #3573dd;
                box-shadow: 0 1px 0 0 #296ee4;
            }

    .textfield--description {
        width: 100%;
    }

        .textfield--description .field--textbox__input {
            padding: 4px 6px;
            overflow-y: auto;
            resize: vertical;
            font-size: 1.4rem;
            border: 1px solid #d5d5d5;
            border-radius: 4px;
            background-color: #fefefe;
        }
        .textfield--description .field--textbox__input:focus {
            border-color: #3573dd;
        }

    .model-concept-body {
        padding: 4px 8px 12px;
        width: 100%;
        border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;
    }

    .model-concept-structure {
        display: flex; justify-content: center; flex-wrap: wrap;
        margin-top: 6px;
        width: 100%;
        padding-top: 2px;
        box-sizing: border-box;
    }

.concept-component-list-item {
    margin-right: 18px; margin-bottom: 24px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.concept-component-list__btn-add {
    position: relative;
    margin: 4px auto;
    padding: 12px 18px;
    box-sizing: border-box;
    font-size: 1.1em; font-weight: 600;
    box-shadow: 1px 2px 1px -1px rgba(50,50,50,0.85);
    text-align: center;
    color: #fff;
    border-radius: 4px;
    transition: .2s;
    background-color: #00a17e;
    cursor: pointer;
}

    .concept-component-list__btn-add:hover {
        box-shadow: 0 none;
    }
    .concept-component-list__btn-add:active {
        box-shadow: 0 none;
        transform: scale(0.95);
    }

.link--prototype {
    width: 100%; max-width: 240px;
}

    .link--prototype .field--link__placeholder {
        display: flex; justify-content: space-between; align-items: center;
        margin-top: 4px;
        padding: 6px 8px;
        font-size: 1.4em;
        color: #333;
        border: 1px solid #d5d5d5;
        border-radius: 2px;
        background-color: #f5f5f5;
    }
        .link--prototype .field--link__placeholder:after {
            content: "▼";
            font-size: 0.8em;
            color: #555;
        }
        .link--prototype .field--link__placeholder:hover {
            border-color: #c0c0c0;
        }

        .link-choice--prototype .field--textbox__input {
            font-weight: bold;
        }

        .link--prototype .field--link__selection {
            background-color: #09b54d;
            color: #fff;
        }
        
.link--concept {
    width: 100%; max-width: 300px;
}

    .link--concept .field--link__placeholder {
        display: flex; justify-content: space-between; align-items: center;
        margin-top: 4px;
        padding: 6px 8px;
        color: #333;
        border: 1px solid #d5d5d5;
        border-radius: 2px;
        background-color: #f5f5f5;
    }
        .link--concept .field--link__placeholder:after {
            content: "▼";
            font-size: 0.8em;
            color: #555;
        }
        .link--concept .field--link__placeholder:hover {
            border-color: #c0c0c0;
        }
        
    .link--concept .field--link__selection {
        padding: 4px 6px;
        background-color: #09b54d;
        color: #fff;
    }

.link-choice {
    display: flex;
}

    .link--concept__choice {
        display: flex; align-items: center;
        padding: 6px 4px;
    }

    .link-choice .field--textbox {
        display: inline-flex;
        margin-left: 4px;
        width: 150px;
        padding: 0;
        border-radius: 0;
    }

    .link-choice--concrete .field--textbox__input {
        font-weight: bold;
    }



.link--concept__choice {
    display: flex; align-items: center;
    padding: 6px 4px;
}

.link-choice--derivative .field--textbox__input {
    font-weight: bold;
}



.heading {
    padding: 4px 8px;
    box-sizing: border-box;
    font-size: 1em; font-weight: 600;
    color: #fff;
    background-color: #16489e;
}

.attribute-table {
    border: 1px solid #387aeb;
    z-index: 20;
}

    .attribute-table-header {
        color: #fff;
        background-color: #387aeb;
    }

    .attribute-table .field--table-header-cell,
    .attribute-table .field--table-cell {
        border: 0 none;
    }

    .attribute-table .field--table-header-cell--action {
        padding: 12px 1%;
        min-width: 80px;
        text-align: center;
        font-weight: 500;
        border: 0 none;
    }
    
    .attribute-table__header-cell {
        padding: 12px 1%;
        font-weight: 400;
        border: 0 none;
    }

    .attribute-table__header-cell .text {
        display: block;
    }

    .attribute-table__body-cell {
        position: relative;
        padding: 6px 1%;
        border: 0 none;
    }
        .attribute-table__body-cell:after {
            content: "";
            position: absolute;
            top: 1px; bottom: 1px; right: 0;
            width: 1px;
            background-color: #f5f5f5;
        }

        .attribute-table-body tr:not(:last-child) {
            border-bottom: 2px solid #d5d5d5;
        }
        .attribute-table-body tr:hover {
            background-color: #eee;
        }
        
    .attribute-table-body .field--table__cell-action {
        padding: 6px 2%;
        border: 0 none;
    }

    .attribute-table-body .field--table-row {
        position: relative;
        background-color: #fff;
        z-index: 20;
    }
    
    .field--table__button[data-action="remove"] {
        display: block;
        width: 64px; height: 64px;
        font-size: 1.3rem; font-weight: 500;
        color: #fff;
        border-radius: 50%;
        background-color: rgb(225, 65, 65);
    }

    .field--table__button[data-action="add"] {
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 12px;
        width: 100%; max-width: 400px;
        font-size: 1.5em; font-weight: 500;
        color: #fff;
        border-radius: 0 0 20px 20px;
        background-color: #387aeb;
        transform: translateY(-8px);
        transition: .2s;
        opacity: 0.8;
        z-index: -1;
    }
    .field--table__button[data-action="add"]:hover {
        transform: translateY(0);
        opacity: 1;
    }

.target-choice-list {
    display: flex; flex-direction: row;
}

    .target-choice-option {
        flex: 1 1;
        text-align: center;
        margin-right: 6px;
        padding: 4px 8px;
        font-weight: 500;
        color: #444; 
        border-radius: 2px;
        background-color: #f5f5f5;
        box-shadow: 0 1px 2px #d5d5d5;
        transition: transform .2s;
        outline: none;
    }

        .target-choice-option:hover,
        .target-choice-option:focus,
        .target-choice-option:active {
            background-color: #ffd300;
        }
        .target-choice-option.selected {
            color: #fff;
            background-color: #1f75fe;
            box-shadow: none;
        }

        .target__title {
            margin-top: 6px;
            width: 100%;
            padding: 4px 6px;
            box-sizing: border-box;
            font-size: 1em; font-weight: 800;
            text-align: center; text-transform: uppercase;
            color: #555;
            border-top: 4px solid #d5d5d5;
            border-radius: 180px;
        }

        .target-constraint {
            padding: 4px 6px;
        }

        .target-constraint__title {
            display: block;
            margin-bottom: 4px;
            font-weight: 500;
            color: #444;
        }

        .string-primitive-option {
            padding: 6px 12px;
            box-sizing: border-box;
            cursor: default;
        }
        
        .string-primitive-option--values {
            position: relative;
            display: flex; align-items: center; justify-content: center;
            margin-top: 8px;
            padding: 12px; height: 48px;
            font-size: 1em; font-weight: 500;
            color: #555; 
            background-color: #0ac2547e;
            border-radius: 2px; 
            transition: .2s;
        } 
            .string-primitive-option--values:before {
                content: "";
                position: absolute;
                top: 0; left: 0;
                width: 12px; height: 12px;
                border: solid #09b54d;
                border-width: 4px 0 0 4px;
                transition: .4s;
            }
            .string-primitive-option--values:after {
                content: "";
                position: absolute;
                bottom: 0; right: 0;
                width: 12px; height: 12px;
                border: solid #09b54d;
                border-width: 0 4px 4px 0;
                transition: .4s;
            }
            .string-primitive-option--values:hover {
                color: #fff;
                background-color: #0ac254;
            }
                .string-primitive-option--values:hover:before {
                    content: ""; 
                    transform: scale(1.5) translate(-50%, -50%);
                    opacity: 0;
                }
                .string-primitive-option--values:hover:after {
                    content: "";
                    transform: scale(1.5) translate(50%, 50%);
                    opacity: 0;
                }

                
.constraint-choice-list {
    display: flex; flex-direction: row;
    padding: 0;
    border-radius: 180px;
    overflow: hidden;
}

    .constraint-choice-option {
        width: 100px; 
        padding: 4px 8px;
        font-weight: 500;
        text-align: center;
        color: #444;
        background-color: #e5e4e2;
        text-transform: capitalize;
        transition: .2s;
    }

    .constraint-choice.empty .constraint-choice-list {
        box-shadow: 0 1px 2px -1px #555;
    }

    .constraint-choice.empty .constraint-choice-option {
        color: #333;
        background: radial-gradient(#f5f5f5, #f0f0f0 150%);
    }
        .constraint-choice.empty .constraint-choice-option:not(:last-child) {
            border-right: 2px solid #c0c0c0;
        }

    .constraint-choice-option:hover,
    .constraint-choice-option:focus,
    .constraint-choice-option:active {
        background-color: #FFD300;
    }
    .constraint-choice-option.selected {
        font-weight: bold;
        color: #fff;
        background-color: #1f75fe;
    }


.textfield--number {
    width: 100px;
}

.textfield--number .field--textbox__input{
    border: 1px solid #d5d5d5;
}

.textfield--outlined {
    width: 100%; max-width: 300px;
}

.textfield--outlined .field--textbox__input{
    border: 1px solid #d5d5d5;
    border-radius: 4px;
}

.tbl-attribute__cell--required {
    text-align: center;
}


/*
    Value list
-----------------------------------------------------------------------------*/

.value-list-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

    .value-list-container .field--list__add {
        position: relative;
        width: 48px; 
        height: 48px;
        align-self: flex-end;
        display: flex; align-items: center; justify-content: center;
        font-size: 1.4rem; font-weight: bold;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        background-color: #09b54d;
        cursor: default;
    }

    .value-list-container.empty .field--list__add {
        width: 100%; max-width: 180px;
        height: 42px;
        align-self: flex-start;
        font-size: 1.6rem;
        border-radius: 40px;
    }

.value-list-item {
    display: inline-flex;
    margin-right: 6px; margin-bottom: 6px;
    align-items: center;
    border-radius: 2px;
    width: 150px;
    border: 1px solid #555;
}

    .value-list-item .field {
        display: inline-flex;
    }

    .value-list-item .btn-remove {
        position: relative;
        height: 100%;
        background-color: #555;
        order: 2;
        padding: 4px 6px;
        font-size: 0.9em; font-weight: 600;
        z-index: 5;
    }
        .value-list-item .btn-remove:before {
            content: "✖";
            display: block;
            padding: 2px 2px 2px 1px;
            width: 20px;
            height: 20px;
            box-sizing: border-box;
            border-radius: 50%;
            color: #fff;
            transition: .4s;
        }
        .value-list-item .btn-remove:hover {
            background-color: rgb(225, 65, 65);
        }


/*
    Attribute list
-----------------------------------------------------------------------------*/

.attribute-list-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

    .attribute-list-container .field--list__add {
        position: relative;
        width: 48px; 
        height: 48px;
        align-self: flex-end;
        line-height: 48px;
        font-size: 1.4rem; font-weight: bold;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        background-color: #09b54d;
        cursor: default;
    }

    .attribute-list-container.empty .field--list__add {
        width: 120px; 
        height: 48px;
        align-self: center;
        line-height: 48px;
        font-size: 1.6rem; font-weight: bold;
        border-radius: 4px;
    }

.attribute-list {
    padding: 10px;
    box-sizing: border-box;
    background-color: #d5d5d5;
}

.attribute-list-item {
    display: inline-flex;
    margin-right: 6px; margin-bottom: 6px;
    align-items: center;
    border-radius: 2px;
    width: 150px;

    background-color: #fefefe;
}

    .attribute-list-item .field {
        display: inline-flex;
    }

    .attribute-list-item .field--textbox__input {
        display: inline-flex;
        font-weight: 600;
    }

    .attribute-list-item .btn-remove {
        position: relative;
        height: 100%;
        background-color: #555;
        order: 2;
        padding: 4px 6px;
        font-size: 0.9em; font-weight: 600;
        z-index: 5;
    }
        .attribute-list-item .btn-remove:before {
            content: "✖";
            display: block;
            padding: 2px 2px 2px 1px;
            width: 20px;
            height: 20px;
            box-sizing: border-box;
            border-radius: 50%;
            color: #fff;
            transition: .4s;
        }
        .attribute-list-item .btn-remove:hover {
            background-color: rgb(225, 65, 65);
        }




.badge--alt {
    position: absolute;
    top: 0; right: 0;
    width: 12px; height: 12px;
    border-radius: 2px;
    background-color: #5f4b8b;
    box-shadow: 4px 4px 0 #271c40;
    opacity: 0;
    transition: .2s;
}

.active-parent:hover > .badge--alt {
    opacity: 0.5;
    transform: scale(0.8);
}

.active > .badge--alt {
    opacity: 1;
    transform: scale(1);
}

.btn-delete + .badge--alt {
    top: 30px
}

.model-concept-option {
    padding: 6px 12px;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.3em; font-weight: 500;
    border-radius: 2px;
    background-color: #1f75fe;
}

.model-concept-option--attributes {
    display: inline-flex; align-items: center; justify-content: center;
    margin-right: 20px;
    width: 74px; height: 72px;
    border-radius: 50%;color: #f5f5f5;
    background-color: #09b54d;
    box-shadow: 2px 1px 2px -1px #03692B;
    overflow: hidden;
    cursor: default;
    transition: .2s;
}
    .model-concept-option--attributes:after {
        content: "+";
        position: absolute;
        bottom: -14px;
        font-size: 8em;
        color: #696969;
        transform: scale(2) rotate(45deg);
        opacity: 0.2;
        transition: .2s;
    }
    .model-concept-option--attributes:hover {
        background-color: #0AC253;
        box-shadow: 0 2px 1px -1px #03692B;
    }
        .model-concept-option--attributes:hover:after {
            transform: scale(2) rotate(-45deg);
            opacity: 0.1;
        }

    .model-concept-option--attributes .text {
        z-index: 2;
    }
    .model-concept-option--attributes .text::first-letter {
        font-size: 1.5em;  font-weight: 100; color: #fff;
    }

.model-concept-option--properties {
    display: inline-flex; align-items: center; justify-content: center;
    width: 74px; height: 72px;
    border-radius: 50%;color: #f5f5f5;
    background: #1f75fe;
    box-shadow: -2px 1px 2px -1px #0B4BB3;
    overflow: hidden;
    cursor: default;
    transition: .2s;
}
    .model-concept-option--properties:after {
        content: "+";
        position: absolute;
        bottom: -14px;
        font-size: 8em;
        color: #696969;
        transform: scale(2) rotate(-45deg);
        opacity: 0.2;
        transition: .2s;
    }
    .model-concept-option--properties:hover {
        background-color: #3884FF;
        box-shadow: 0 2px 1px -1px #0B4BB3;
    }
        .model-concept-option--properties:hover:after {
            transform: scale(2) rotate(45deg);
            opacity: 0.1;
        }


.model-concept-option--properties .text::first-letter {
    font-size: 1.5em; font-weight: 100; color: #fff;
}
  