.model-concept-list-item.focus .model-projection {
    box-shadow: 0 0 0 1px #c0c0c0;
}

.model-projection {
    position: relative;
    padding: 4px;
    border-radius: 4px;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.model-projection .line {
    display: flex; flex-direction: row;
    padding-left: 4px;
    font-size: 1.4rem;
}

.model-projection .block {
    display: flex; flex-direction: column;
}

.model-projection .keyword {
    display: block;
    border: 1px solid #999;
    white-space: nowrap;
    color: #222; 
}

.model-projection .title {
    display: block;
    margin-top: 6px; margin-bottom: 2px;
    font-size: 1.2em; font-weight: bold;
    color: #C40234;
}

.model-projection .label {
    color: blue;
}

.model-projection .block__line {
    padding-left: 4px;
    font-size: 1.4rem;
}
    .model-projection .block__line:after {
        content: " {";
        font-weight: bold;
    }

    .model-projection .keyword--open-list:after {
        content: " [";
    }

    .model-projection .block__content {
        display: flex; flex-direction: column;
        padding-left: 4px;
        font-size: 1.4rem;
    }
    .model-projection .block__content:after {
        content: "}";
        font-weight: bold;
    }

    .model-projection .block__content .textfield--concept {
        padding-left: 8px; padding-right: 8px;
    }

.model-projection__line {
    align-items: center;
}

.projection-concept-container {
    width: 100%;
}

.global-switch-field {
    margin-left: 4px;
    padding: 0;
}

    .global-switch-field .field-notification {
        display: none;
    }

    .global-switch-field__input {
        display: none;
    }

    .global-switch-field__label {
        padding: 3px 6px;
        text-transform: lowercase;
        color: #555;
        border-radius: 1px;
        background-color: #d5d5d5;
    }

    .global-switch-field[data-state="on"] .global-switch-field__label {
        color: #fff;
        background-color: royalblue;
        background-color: #555;
    }

.textfield--concept {
    align-items: center;
    padding: 0;
}

    .textfield--concept__label:after {
        content: ":";
    }

    .textfield--concept__input {
        border-bottom: 1px solid transparent;
        border-radius: 0;
    }
        .textfield--concept.empty .textfield--concept__input { font-style: italic; }
        .textfield--concept__input:focus { border-color: royalblue; box-shadow: 0 1px 0 royalblue; }

 
.component-choice {
    display: flex; flex-direction: row;
    width: 100%;
    padding-left: 4px;
    font-size: 1.4rem;
}

    .component-choice.empty:not(.querying) .component-choice-list {
        display: none;
    }

    .component-choice-list {
        display: flex; flex-direction: column;
    }

    .component-choice.active > .component-choice-list {
        position: absolute;
        top: 20px; left: 0; right: 0;
        background-color: #fff;
        border-radius: 0 0 2px 2px;
        box-shadow: 0 1px 2px rgba(85, 85, 85, 0.85);
        z-index: 10;
    }

    .component-choice.active > .component-choice-list .component-choice-option.selected {
        background-color: #ffd300;
    }

    .component-choice:not(.active) .component-choice-option:not(.selected) {
        display: none;
    }

    .component-choice:not(.active):not(.empty) .component-choice-input {
        display: none;
    }
    
    .component-choice-option {
        font-size: 1em;
    }

    .component-choice-selection {
        width: 100%;
    }


.layout-choice {
    display: flex; flex-direction: row;
    width: 100%;
}
    .layout-choice.empty:not(.querying) .layout-choice-list {
        display: none;
    }

    .layout-choice-list {
        display: flex; flex-direction: column;
    }

    .layout-choice.active > .layout-choice-list {
        position: absolute;
        top: 20px; left: 0; right: 0;
        background-color: #fff;
        border-radius: 0 0 2px 2px;
        box-shadow: 0 1px 2px rgba(85, 85, 85, 0.85);
        z-index: 10;
    }

    .layout-choice.active > .layout-choice-list .layout-choice-option.selected {
        background-color: #ffd300;
    }
      
    .layout-choice:not(.active) .layout-choice-option:not(.selected) {
        display: none;
    }

    .layout-choice:not(.active):not(.empty) .layout-choice-input {
        display: none;
    }
    
    .layout-choice:not(.active):not(.empty) > .layout-choice-list {
        margin-left: 4px;
        background-color: #555;
        color: #fff;
    }
      
      
    .layout-choice-option {
        font-size: 1em;
    }

    .layout-choice .field--choice__selection {
        width: 100%;
    }


.element-choice {
    display: flex; flex-direction: row;
    width: 100%;
}
    .element-choice.empty:not(.querying) > .element-choice-list {
        display: none;
    }

    .element-choice-list {
        display: flex; flex-direction: column;
    }

    .element-choice.active > .element-choice-list {
        position: absolute;
        top: 20px; left: 0; right: 0;
        background-color: #fff;
        border-radius: 0 0 2px 2px;
        box-shadow: 0 1px 2px rgba(85, 85, 85, 0.85);
        z-index: 10;
    }

    .element-choice.active > .element-choice-list .element-choice-option.selected {
        background-color: #ffd300;
    }
      
    .element-choice:not(.active) > .element-choice-list .element-choice-option:not(.selected) {
        display: none;
    }
    
    .element-choice:not(.active):not(.empty) > .element-choice-input {
        display: none;
    }

    .element-choice:not(.active):not(.empty) > .element-choice-list {
        background-color: #555;
        color: #fff;
    }
      
    .element-choice-option {
        font-size: 1em;
    }
        .element-choice-option:focus,
        .element-choice-option:hover {
            background-color: #ffd500be;
        }

    .element-choice .field--choice__selection {
        width: 100%;
    }


.field-choice {
    display: flex; flex-direction: row;
    width: 100%;
}
    .field-choice.empty:not(.querying) > .field-choice-list {
        display: none;
    }

    .field-choice-list {
        display: flex; flex-direction: column;
    }

    .field-choice.active > .field-choice-list {
        position: absolute;
        top: 20px; left: 0; right: 0;
        background-color: #fff;
        border-radius: 0 0 2px 2px;
        box-shadow: 0 1px 2px rgba(85, 85, 85, 0.85);
        z-index: 10;
    }

    .field-choice.active > .field-choice-list .field-choice-option.selected {
        background-color: #ffd300;
    }
        
    .field-choice:not(.active) > .field-choice-list .field-choice-option:not(.selected) {
        display: none;
    }
    
    .field-choice:not(.active):not(.empty) > .field-choice-input {
        display: none;
    }

    .field-choice:not(.active):not(.empty) > .field-choice-list {
        background-color: #555;
        color: #fff;
    }
        
    .field-choice-option {
        font-size: 1em;
    }
        .field-choice-option:focus,
        .field-choice-option:hover {
            background-color: #ffd500be;
        }

    .field-choice .field--choice__selection {
        width: 100%;
    }


.element-list__title {
    font-size: 1.1em;
}

.element-list {
    display: flex; align-items: flex-start;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 3px;
    background-color: #e1e2e3;
}

    .element-list-item {
        margin-right: 12px; margin-bottom: 12px;
        padding-bottom: 6px; padding-right: 24px;
        border-radius: 2px;
        background-color: #fff;
    }

    .element-list-item:focus {
        padding: 6px 12px;
    }

    .element-list-item > .btn-remove {
        position: absolute;
        top: 0; right: 0;
        background-color: #a9a9a9;
        order: 2;
        border-radius: 0 0 0 2px;
        padding: 2px 3px;
        font-size: 1em; font-weight: 600;
        z-index: 5;
    }

        .element-list-item > .btn-remove:before {
            content: "✖";
            display: block;
            padding: 2px 2px 2px 1px;
            width: 20px;
            height: 20px;
            color: #fff;
            transition: .4s;
        }

        .element-list-item > .btn-remove:hover {
            background-color: #777;
        }


.projection-style {
    position: relative;
    margin-top: 6px;
    padding: 4px 6px;
    color: #00A86B;
    font-weight: 500;
    border: 2px solid #00A86B;
    overflow: hidden;
    transition: .2s;
}
    .projection-style:before {
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        transform: translateX(-100%);
        background-color: #00A86B;
        transition: .2s;
        z-index: -1;
    }
    .projection-style:focus {
        color: #fff;
    }
        .projection-style:focus:before {
            transform: translateX(0);
        }

.static-text .projection-style {
    border-radius: 50%;
    height: 42px;
}

.textfield--text {
    width: 100%;
}

    .textfield--text__input {
        border: 1px solid #d5d5d5;
    }

.static-image .textfield--concept__label {
    width: 120px;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

.field--list__add {
    height: 42px;
    width: 42px;
    color: #fff;
    border: 0 none; border-radius: 50%;
    background-color: royalblue;
}


.yesno-field {
    display: flex;
    padding: 0;
    margin-left: 4px; margin-right: 4px;
    font-size: 1.4rem;
}

    .yesno-field .field-notification {
        display: none;
    }

    .yesno-field__input {
        display: none;
    }

    .yesno-field__label:before {
        content: "-";
        font-weight: bold;
        margin-right: 4px;
    }
    .yesno-field__label:after {
        content: ":";
    }

    .yesno-field[data-state="on"] .yesno-field__label:before {
        content: "✓";
    }

    .yesno-field__value {
        padding: 1px 4px;
        text-transform: lowercase;
        color: #555;
        background-color: #d5d5d5;
        border-radius: 1px;
    }

        .yesno-field[data-state="on"] .yesno-field__value {
            color: #fff;
            background-color: #555;
        }

.field-config {
    padding-left: 12px;
}

/*
    Tag list
-----------------------------------------------------------------------------*/

.tag-list-container {
    font-size: 1.4rem;
    display: inline-flex; flex-wrap: wrap;
    max-width: 600px;
}

    .tag-list {
        align-items: center;
    }

    .tag-list-container > .field-notification {
        display: none;
    }

    .tag-list-title {
        margin-bottom: 4px;
        font-size: 1.2em; font-weight: 500;
    }

    .tag-list-container > .field--list__add {
        position: relative;
        align-self: flex-end;
        margin-top: 4px;
        width: 48px; 
        height: 48px;
        line-height: 48px;
        font-size: 1.3rem; font-weight: bold;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        background-color: royalblue;
        opacity: 0.95;
        outline: none;
        cursor: default;
        transform: scale(0.9);
        transition: .2s;
    }

    .tag-list-container > .field--list__add:focus {
        box-shadow: 0 0 0 3px #fff, 0 0 0 6px royalblue;
        transform: scale(1);
    }

    .tag-list-container > .field--list__add:hover {
        background-color: #1C3A94;
        opacity: 1;
    }

    .tag-list-container.empty > .field--list__add {
        width: 120px; 
        height: 48px;
        align-self: center;
        font-size: 1.4rem; font-weight: bold;
        border-radius: 4px;
    }
        
.tag-list-item {
    display: inline-flex;
    justify-content: space-between;
    margin-right: 6px; margin-bottom: 6px;
    padding: 0;
    align-items: center;
    border-radius: 2px;
    width: 150px;
}
        
.tag-list-item:after {
    content: ";";
    position: absolute;
    right: -6px; bottom: 0;
    z-index: 2;
}

    .tag-list-item .field {
        display: inline-flex;
        padding: 0; padding-top: 4px;
        font-size: 0.9em;
    }

    .tag-list-item:focus .btn-remove,
    .tag-list-item:hover .btn-remove {
        opacity: 1;
        z-index: 50;
    }

    .tag-list-item .btn-remove {
        position: absolute;
        bottom: 100%; right: -2px;
        width: 24px;
        font-size: 0.9em; font-weight: 800;
        opacity: .2;
        z-index: 5;
    }
        .tag-list-item .btn-remove:before {
            content: "✖";
            display: block;
            transition: .4s;
        }
        .tag-list-item .btn-remove:hover {
            background-color: #f0f0f0;
            transform: scale(1.1);
        }

        .textfield--tag {
            z-index: 10;
        }

    .textfield--tag__input {
        background-color: #fefefe;
        border: 1px solid #eee;
        border-radius: 2px;
    }
    .textfield--tag input:focus {
        border-color: royalblue;
    }


.row-list-container {
    border: 1px solid #555;
}

.row-list {
    display: flex;
    flex-direction: column;
}

.row-list-item {
    border-bottom: 2px solid #999;
    margin-bottom: 4px;
}

.cell-list {
    display: flex;
    flex-direction: row;
}

.cell-list-item {
    border: 1px solid #555;
    margin-right: 4px;
    margin-bottom: 4px;
}

.static-text {
    align-items: flex-start;
}