.model-concept-list-item.focus .model-projection {
    box-shadow: 0 0 0 1px #c0c0c0;
}

.model-projection {
    position: relative;
    font-size: 1.4rem;
    border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.model-projection > .layout-container {
    padding-top: 6px;
}

.model-projection .line {
    display: flex; flex-direction: row;
    font-size: 1.4rem;
}

.model-projection .block {
    display: flex; flex-direction: column;
}

.model-projection .keyword {
    display: block;
    white-space: nowrap;
    color: #222; 
}

.model-projection .title {
    display: block;
    margin-top: 6px; margin-bottom: 2px;
    font-size: 1.2em; font-weight: bold;
    color: #C40234;
}

.model-projection .label {
    color: blue;
}

.model-projection .layout-container {
    width: 100%;
}

.model-projection .block__line {
    font-size: 1.4rem;
}
    .model-projection .block__line:after {
        content: " {";
        font-weight: bold;
    }

    .model-projection .keyword--open-list:after {
        content: " [";
    }

    .model-projection .block__content {
        display: flex; flex-direction: column;
        font-size: 1.4rem;
    }
    .model-projection .block__content:after {
        content: "}";
        font-weight: bold;
    }

    .model-projection .block__content .textfield--concept {
        padding-left: 8px; padding-right: 8px;
    }

.model-projection__line {
    align-items: center;
}

.projection-concept-container {
    width: 100%;
}

.global-switch-field {
    margin-left: 4px;
    padding: 0;
}

    .global-switch-field .field-notification {
        display: none;
    }

    .global-switch-field__input {
        display: none;
    }

    .global-switch-field__label {
        padding: 3px 6px;
        text-transform: lowercase;
        color: #555;
        border-radius: 1px;
        background-color: #d5d5d5;
    }

    .global-switch-field[data-state="on"] .global-switch-field__label {
        color: #fff;
        background-color: royalblue;
        background-color: #555;
    }

.textfield--concept {
    align-items: center;
    padding: 0;
}

    .textfield--concept__label:after {
        content: ":";
    }

    .textfield--concept__input {
        border-bottom: 1px solid transparent;
        border-radius: 0;
    }
        .textfield--concept.empty .textfield--concept__input { font-style: italic; }
        .textfield--concept__input:focus { border-color: royalblue; box-shadow: 0 1px 0 royalblue; }


.name-field--textual + .name-field--textual {
    margin-top: 3px;
}


.bracket-choice {
    display: flex; flex-direction: row;
    padding: 0;
    font-size: 1.4rem;
}
    .bracket-choice.empty:not(.querying) > .bracket-choice__list {
        display: none;
    }

    .bracket-choice__list {
        display: flex; flex-direction: row; align-items: center;
    }
        .bracket-choice.active > .bracket-choice__list:before {
            content: "[";
            font-weight: bold;
            transform: scale(1.1);
        }
        .bracket-choice.active > .bracket-choice__list:after {
            content: "]";
            font-weight: bold;
            transform: scale(1.1);
        }

    .bracket-choice__input {
        border: 0 none;
        border-bottom: 1px solid #555;
    }
        
        .bracket-choice__input:focus { 
            border-color: royalblue; 
            box-shadow: 0 1px 0 royalblue; 
        }

    .bracket-choice > .keyword + .bracket-choice__input {
        margin-left: 4px;
    }

    .bracket-choice.active > .bracket-choice__list {
        margin-left: 4px;
        z-index: 10;
    }

    .bracket-choice.active > .bracket-choice__list .bracket-choice__list-option.selected {
        color: #222;
        background-color: #ffd300;
    }

    .bracket-choice:not(.active) > .bracket-choice__list .bracket-choice__list-option:not(.selected) { display: none; }

    .bracket-choice:not(.active) > .bracket-choice__list .bracket-choice__list-option.selected { 
        margin: 0;
        padding: 0; 
        width: 100%;
        font-size: 1.1em; 
        border-bottom: 2px solid currentColor;
    }

    .bracket-choice:not(.active):not(.empty) > .bracket-choice__input { display: none; }

    .bracket-choice:not(.active).empty > .bracket-choice__input { font-style: italic; }
    
        
    .bracket-choice__list-option {
        font-size: 0.95em;
        padding-left: 4px; padding-right: 4px;
        border-radius: 1px;
        transition: transform .2s;
    }
    
    .bracket-choice__list-option:not(:last-child) {
        margin-right: 4px;
    }
    
    .bracket-choice.active .bracket-choice__list-option:hover,
    .bracket-choice.active .bracket-choice__list-option:focus {
        background-color: rgba(205, 205, 205, 0.85);
        transform: scale(1.05);
    }
    
    .bracket-choice__list-option.selected {
        font-weight: bold;
    }

    .bracket-choice__selection { width: 100%; padding-top: 6px; }

    .bracket-choice--component__selection { 
        margin-top: 6px; 
        padding: 6px 12px;
        border-radius: 2px;
        box-shadow: inset 0 1px 2px #999; 
    }

    .bracket-choice--unit {
        display: flex;
    }

    .bracket-choice--unit:not(.active):not(.empty) .bracket-choice__list {
        display: inline-flex;
    }

    .bracket-choice--unit > .bracket-choice__selection {
        width: auto;
    }



/*
 Select choice
-----------------------------------------------------------------------------*/

.select-choice {
    display: flex; flex-direction: row; flex-wrap: nowrap;
    padding: 2px 4px;
    width: 100%;
    overflow: auto;
    font-size: 1.4rem;
    border-bottom: 2px solid #c0c0c0;
}

    .select-choice__list {
        display: inline-flex; flex-direction: row; align-items: center;
        order: 2;
    }

    .select-choice__input {
        margin-right: 4px;
        padding: 1px 3px;
        min-width: 120px;
        border: 0 none;  border-radius: 180px;
        box-shadow: 0 1px 1px #c0c0c0;
        order: 1;
        opacity: 1;
        transition: opacity .2s;
    }

    .select-choice:not(.empty):not(.active) .select-choice__input {
        min-width: auto;
        width: 18px; 
        opacity: 0.8; 
        box-shadow: 0 0 1px #000;
    }

    .select-choice.active > .select-choice__list .select-choice__list-option.selected {
        color: #222;
        background-color: #ffd300;
    }

    .select-choice:not(.empty):not(.active) > .select-choice__list .select-choice__list-option:not(.selected) { 
        display: none;
    }

    .select-choice:not(.active) > .select-choice__list .select-choice__list-option.selected { 
        margin: 0;
        padding: 0; 
        background: none;
        text-transform: uppercase;
        color: #222;
    }

    .select-choice:not(.active).empty > .select-choice__input { 
        font-style: italic; 
    }
    
    .select-choice__list-option {
        font-size: 0.95em;
        padding-left: 4px; padding-right: 4px;
        border-radius: 1px;
        background-color: rgba(225, 225, 225, 0.5);
        transition: transform .2s;
    }
    
    .select-choice__list-option:not(:last-child) {
        margin-right: 4px;
    }
    
    .select-choice.active .select-choice__list-option:hover,
    .select-choice.active .select-choice__list-option:focus {
        background-color: rgba(205, 205, 205, 0.85);
        transform: scale(1.05);
    }
    
    .select-choice__list-option.selected {
        font-weight: bold;
    }




/*
 Component choice
-----------------------------------------------------------------------------*/
 
.component-choice {
    display: flex; flex-direction: row;
    width: 100%;
    padding-left: 4px;
    font-size: 1.4rem;
}

    .component-choice.empty:not(.querying) .component-choice-list {
        display: none;
    }

    .component-choice-list {
        display: flex; flex-direction: column;
    }

    .component-choice.active > .component-choice-list {
        position: absolute;
        top: 20px; left: 0; right: 0;
        background-color: #fff;
        border-radius: 0 0 2px 2px;
        box-shadow: 0 1px 2px rgba(85, 85, 85, 0.85);
        z-index: 10;
    }

    .component-choice.active > .component-choice-list .component-choice-option.selected {
        background-color: #ffd300;
    }

    .component-choice:not(.active) .component-choice-option:not(.selected) {
        display: none;
    }

    .component-choice:not(.active):not(.empty) .component-choice-input {
        display: none;
    }
    
    .component-choice-option {
        font-size: 1em;
    }

    .component-choice-selection {
        width: 100%;
    }


.layout-choice {
    display: flex; flex-direction: row;
    width: 100%;
}
    .layout-choice.empty:not(.querying) .layout-choice-list {
        display: none;
    }

    .layout-choice-list {
        display: flex; flex-direction: column;
    }

    .layout-choice.active > .layout-choice-list {
        position: absolute;
        top: 20px; left: 0; right: 0;
        background-color: #fff;
        border-radius: 0 0 2px 2px;
        box-shadow: 0 1px 2px rgba(85, 85, 85, 0.85);
        z-index: 10;
    }

    .layout-choice.active > .layout-choice-list .layout-choice-option.selected {
        background-color: #ffd300;
    }
      
    .layout-choice:not(.active) .layout-choice-option:not(.selected) {
        display: none;
    }

    .layout-choice:not(.active):not(.empty) .layout-choice-input {
        display: none;
    }
    
    .layout-choice:not(.active):not(.empty) > .layout-choice-list {
        margin-left: 4px;
        background-color: #555;
        color: #fff;
    }
      
      
    .layout-choice-option {
        font-size: 1em;
    }

    .layout-choice .field--choice__selection {
        width: 100%;
    }


.element-choice {
    display: flex; flex-direction: row;
    width: 100%;
}
    .element-choice.empty:not(.querying) > .element-choice-list {
        display: none;
    }

    .element-choice-list {
        display: flex; flex-direction: column;
    }

    .element-choice.active > .element-choice-list {
        position: absolute;
        top: 20px; left: 0; right: 0;
        background-color: #fff;
        border-radius: 0 0 2px 2px;
        box-shadow: 0 1px 2px rgba(85, 85, 85, 0.85);
        z-index: 10;
    }

    .element-choice.active > .element-choice-list .element-choice-option.selected {
        background-color: #ffd300;
    }
      
    .element-choice:not(.active) > .element-choice-list .element-choice-option:not(.selected) {
        display: none;
    }
    
    .element-choice:not(.active):not(.empty) > .element-choice-input {
        display: none;
    }

    .element-choice:not(.active):not(.empty) > .element-choice-list {
        background-color: #555;
        color: #fff;
    }
      
    .element-choice-option {
        font-size: 1em;
    }
        .element-choice-option:focus,
        .element-choice-option:hover {
            background-color: #ffd500be;
        }

    .element-choice .field--choice__selection {
        width: 100%;
    }


.field-choice {
    display: flex; flex-direction: row;
    width: 100%;
}
    .field-choice.empty:not(.querying) > .field-choice-list {
        display: none;
    }

    .field-choice-list {
        display: flex; flex-direction: column;
    }

    .field-choice.active > .field-choice-list {
        position: absolute;
        top: 20px; left: 0; right: 0;
        background-color: #fff;
        border-radius: 0 0 2px 2px;
        box-shadow: 0 1px 2px rgba(85, 85, 85, 0.85);
        z-index: 10;
    }

    .field-choice.active > .field-choice-list .field-choice-option.selected {
        background-color: #ffd300;
    }
        
    .field-choice:not(.active) > .field-choice-list .field-choice-option:not(.selected) {
        display: none;
    }
    
    .field-choice:not(.active):not(.empty) > .field-choice-input {
        display: none;
    }

    .field-choice:not(.active):not(.empty) > .field-choice-list {
        background-color: #555;
        color: #fff;
    }
        
    .field-choice-option {
        font-size: 1em;
    }
        .field-choice-option:focus,
        .field-choice-option:hover {
            background-color: #ffd500be;
        }

    .field-choice .field--choice__selection {
        width: 100%;
    }


.element-list__title {
    font-size: 1.1em;
}

.element-list {
    display: flex; align-items: flex-start;
    margin-bottom: 12px;
    /* padding: 12px; */
    border-radius: 3px;
}

    .element-list-item .element-list {
        padding-left: 12px;
    }

    .element-list-item {
        margin-right: 6px; margin-bottom: 6px;
        padding: 3px 4px;
        border-radius: 1px;
        background-color: #f5f5f5;
        box-shadow: 0 0 0 1px #c0c0c0;
    }

    .element-list-item:focus {
        padding: 6px 12px;
    }

    .element-list-item > .btn-remove {
        position: absolute;
        top: 0; right: 0;
        padding: 2px 4px;
        color: #555;
        border-radius: 0 0 0 2px;
        font-size: 1em; font-weight: 600;
        z-index: 5;
    }

        .element-list-item > .btn-remove:before {
            content: "✖";
            display: block;
            transition: .4s;
        }

        .element-list-item > .btn-remove:hover {
            color: #111;
        }


.projection-style {
    position: relative;
    margin-top: 6px;
    padding: 4px 6px;
    color: #00A86B;
    font-weight: 500;
    border: 2px solid #00A86B;
    overflow: hidden;
    transition: .2s;
}
    .projection-style:before {
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        transform: translateX(-100%);
        background-color: #00A86B;
        transition: .2s;
        z-index: -1;
    }
    .projection-style:focus {
        color: #fff;
    }
        .projection-style:focus:before {
            transform: translateX(0);
        }

.static-text .projection-style {
    border-radius: 50%;
    height: 42px;
}

.textfield--text {
    width: 100%;
}

    .textfield--text__input {
        border: 1px solid #d5d5d5;
    }

.static-image .textfield--concept__label {
    width: 120px;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

.field--list__add {
    height: 42px;
    width: 42px;
    color: #fff;
    border: 0 none; border-radius: 50%;
    background-color: royalblue;
}


.yesno-field {
    display: flex;
    padding: 0;
    margin-right: 0.5em;
    font-size: 1.4rem;
}

    .yesno-field .field-notification { display: none; }

    .yesno-field input { display: none; }

    .yesno-field__value {
        padding: 1px 4px;
        text-transform: lowercase;
        color: #555;
        background-color: #d5d5d5;
        border-radius: 1px;
    }

        .yesno-field[data-state="on"] .yesno-field__value { color: #fff; background-color: #555; }


.yesno-field--check { margin-bottom: 2px; }

.yesno-field--check .yesno-field__label + .yesno-field__value { margin-left: 0.2em; }

.yesno-field--check .yesno-field__label:before {
    content: "-";
    font-weight: bold;
    margin-right: 4px;
}

    .yesno-field--check[data-state="on"] .yesno-field__label:before { content: "✓"; }
    .yesno-field--check[data-state="off"] .yesno-field__label { color: #555; opacity: 0.8; }


/*
    Tag list
-----------------------------------------------------------------------------*/

.tag-list-container {
    font-size: 1.4rem;
    display: inline-flex; flex-wrap: wrap;
    max-width: 600px;
}

    .tag-list {
        align-items: center;
    }

    .tag-list-title {
        margin-bottom: 4px;
        font-size: 1.2em; font-weight: 500;
    }

    .tag-list-container > .field--list__add {
        position: relative;
        align-self: flex-end;
        margin-top: 4px;
        width: 48px; 
        height: 48px;
        line-height: 48px;
        font-size: 1.3rem; font-weight: bold;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        background-color: royalblue;
        opacity: 0.95;
        outline: none;
        cursor: default;
        transform: scale(0.9);
        transition: .2s;
    }

    .tag-list-container > .field--list__add:focus {
        box-shadow: 0 0 0 3px #fff, 0 0 0 6px royalblue;
        transform: scale(1);
    }

    .tag-list-container > .field--list__add:hover {
        background-color: #1C3A94;
        opacity: 1;
    }

    .tag-list-container.empty > .field--list__add {
        width: 120px; 
        height: 48px;
        align-self: center;
        font-size: 1.4rem; font-weight: bold;
        border-radius: 4px;
    }
        
.tag-list-item {
    display: inline-flex;
    justify-content: space-between;
    margin-right: 6px; margin-bottom: 6px;
    padding: 0;
    align-items: center;
    border-radius: 2px;
    width: 150px;
}
        
.tag-list-item:after {
    content: ";";
    position: absolute;
    right: -6px; bottom: 0;
    z-index: 2;
}

    .tag-list-item .field {
        display: inline-flex;
        padding: 0; padding-top: 4px;
        font-size: 0.9em;
    }

    .tag-list-item:focus .btn-remove,
    .tag-list-item:hover .btn-remove {
        opacity: 1;
        z-index: 50;
    }

    .tag-list-item .btn-remove {
        position: absolute;
        bottom: 100%; right: -2px;
        width: 24px;
        font-size: 0.9em; font-weight: 800;
        opacity: .2;
        z-index: 5;
    }
        .tag-list-item .btn-remove:before {
            content: "✖";
            display: block;
            transition: .4s;
        }
        .tag-list-item .btn-remove:hover {
            background-color: #f0f0f0;
            transform: scale(1.1);
        }

        .textfield--tag {
            z-index: 10;
        }

    .textfield--tag__input {
        background-color: #fefefe;
        border: 1px solid #eee;
        border-radius: 2px;
    }
    .textfield--tag input:focus {
        border-color: royalblue;
    }

.textual-list--tag {
    flex-direction: row;
    align-items: flex-start;
}

.textual-list--css {
    flex-direction: row;
    align-items: flex-start;
}

.textual-list--value {
    flex-direction: row;
    align-items: flex-start;
}

.textual-list--value > .textual-list__btn-add {
    min-width: 60px;
    box-shadow: 0 1px 2px -1px #555;
    background-color: #C40234;
}

.textual-list--value > .textual-list__btn-add:focus { box-shadow: 0 0 0 2px #222, 0 0 0 4px #C40234; }

.textual-list--element {
    width: 100%;
}


.row-list-container {
    border: 1px solid #555;
}

.row-list {
    display: flex;
    flex-direction: column;
}

.row-list-item {
    border-bottom: 2px solid #999;
    margin-bottom: 4px;
}

.cell-list {
    display: flex;
    flex-direction: row;
}

.cell-list-item {
    border: 1px solid #555;
    margin-right: 4px;
    margin-bottom: 4px;
}

.static-text {
    align-items: flex-start;
}

.textual-list--element .textual-list__list {
    padding-top: 6px;
    flex-direction: row; align-items: flex-start;
}


.textual-list--cell .textual-list__list {
    flex-direction: row; align-items: flex-start;
    overflow: auto;
}


.text-style-container {
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 6px;
    padding-top: 4px;
    padding-left: 6px;
}

.text-style-container .layout-container {
    width: auto;
}


.textual-option--style {
    margin-left: 0!important; margin-right: 6px; margin-bottom: 6px;
    padding: 2px 4px;
    color: #555;
    border: 2px dashed #999; border-radius: 1px;
    font-style: italic;
    font-size: 0.9em;
    opacity: 0.8;
    transition: .2s;
    cursor: default;

    order: 2;
}
    .textual-option--style:hover,
    .textual-option--style:focus {
        border-style: solid;
        opacity: 1;
    }
    

.text-style__attribute {
    margin-right: 4px; margin-bottom: 6px;
    padding: 2px 6px 4px;
    color: #222;
    border-radius: 3px;
    color: #fff;
    background-color: #111;
    transition: .2s;
    order: 1;
}

    .text-style__attribute .keyword,
    .text-style__attribute .title--small {
        color: inherit;
        text-transform: capitalize;
    }
    .text-style__attribute .label,
    .text-style__attribute .text {
        color: inherit;
    }
    .text-style__attribute:hover {
        background-color: #555;
    }
    .text-style__attribute:focus {
        background-color: #d5d5d5;
        color: #222;
    }

    .text-style__attribute .btn-remove {
        padding-top: 1px; padding-bottom: 2px;
        color: #555;
        background-color: #a9a9a9;
    }

    .reference-choice--textual:not(.empty) .field--choice__selection {
        display: none!important;
    }

    .text-style__attribute > .structure__btn-delete {
        top: -2px; right: 0;
        width: 18px; height: 18px; 
        font-size: 0.9em; font-weight: 300;
        color: #999;
        padding: 0;
        border: 1px solid #c0c0c0;
        background-color: #fefefe;
        border-radius: 50%;
        transition: .2s;
        transform: translateY(-50%) translateX(3px);
    }
        .text-style__attribute > .structure__btn-delete:before {
            content: "✖";
        }
        .text-style__attribute > .structure__btn-delete:hover {
            color: #555;
            border-color: #a9a9a9;
        }
            .text-style__attribute > .structure__btn-delete:hover:before {
                transform: scale(1.2) translateY(1px);
            }


    .text-style__attribute .yesno-field--included {
        padding-top: 2px;
    }

    .text-style__attribute .yesno-field--included .yesno-field__value {
        padding: 1px 4px;
        text-transform: lowercase;
        color: #555;
        background-color: #c0c0c0;
        border-radius: 1px;
    } 

        .text-style__attribute .yesno-field--included[data-state="on"] .yesno-field__value {
            color: #222;
            font-weight: 600;
            background-color: #f0f0f0;
        }


.textual-option--constraint {
    display: block;
    text-align: center;
    margin-top: 6px;
    width: 100%; max-width: 150px;
    padding: 4px 8px 6px;
    color: #fff;
    border-radius: 2px;
    font-weight: 500;
    background-color: #1f75fe;
    font-size: 1em;
    opacity: 0.8;
    transition: .2s;
    outline: none;
    transform: scale(0.95) translateX(-3px);
    cursor: default;
}
    
    .textual-option--constraint:hover,
    .textual-option--constraint:focus { opacity: 1; transform: scale(1); }
    .textual-option--constraint:focus { box-shadow: 0 0 0 2px #fff, 0 0 0 4px #1f75fe; }
            
.section-title {
    margin-top: 4px; margin-bottom: 2px;
    padding-left: 6px; padding-bottom: 2px;
    color: #555; text-transform: uppercase;
    font-size: 1.5rem; font-weight: 300;
    border-bottom: 4px double #c0c0c0;
}

.config-title {
    margin-top: 4px; margin-bottom: 2px;
    padding-left: 6px; padding-bottom: 2px;
    color: #D10236; text-transform: capitalize;
    font-size: 1.4rem; font-weight: 600;
    border-bottom: 2px solid #ff1c55;
}

.primitive-constraint {
    padding-top: 2px;
    width: 100%;
    color: #222;
}
    .primitive-constraint.deletable:before {
        width: 2px;
    }
    .primitive-constraint.deletable:after {
        top: 0; right: 10px;
    }

    .primitive-constraint.deletable > .btn[data-action="delete"] {
        top: -20px; right: 0;
    }

.model-projection .primitive-constraint > .btn[data-action="delete"] {
    display: none;
}


.primitive-constraint__attribute {
    margin-top: 4px;
    width: fit-content;
    padding: 2px 6px 4px;
    color: #222;
    border-radius: 3px;
    background-color: #eee;
    transition: .2s;
    order: 1;
}

    .primitive-constraint__attribute .keyword,
    .primitive-constraint__attribute .title--small {
        margin-top: 0;
        color: inherit;
        text-transform: capitalize;
    }
    .primitive-constraint__attribute:hover {
        background-color: #d5d5d5;
    }
    .primitive-constraint__attribute:focus {
        background-color: #f5f5f5;
    }

    .primitive-constraint__attribute > .structure__btn-delete {
        top: -2px; right: 0;
        width: 18px; height: 18px; 
        font-size: 0.9em; font-weight: 300;
        color: #999;
        padding: 0;
        border: 1px solid #c0c0c0;
        background-color: #fefefe;
        border-radius: 50%;
        transition: .2s;
        transform: translateY(-50%) translateX(3px);
    }
        .primitive-constraint__attribute > .structure__btn-delete:before {
            content: "✖";
        }
        .primitive-constraint__attribute > .structure__btn-delete:hover {
            color: #555;
            border-color: #a9a9a9;
        }
            .primitive-constraint__attribute > .structure__btn-delete:hover:before {
                transform: scale(1.2) translateY(1px);
            }

.field-config,
.layout-config,
.render-config {
    padding-top: 18px;
    min-width: 180px;
}

.render-config--collapse {
    width: 120px;
    text-transform: uppercase;
}


    .field-config .structure__btn-delete,
    .render-config .structure__btn-delete {
        display: none;
    }

    .field-config__cell > .layout-container {
        border-radius: 2px;
        overflow: hidden;
        background-color: #f2f1f0;
        box-shadow: 1px 2px -1px #c0c0c0;
    }

    .field-config__cell  {
        padding: 4px;
    }

    .field-config__title {
        margin-bottom: 2px;
        padding: 2px 6px;
        color: #555;
        font-weight: 400;
        text-transform: uppercase;
        background-color: #e5e4e2;
    }

    .field-config__content {
        padding: 2px 6px;
    }

    .template-config {
        padding-left: 6px; padding-right: 6px;
    }

    .template-config .structure__btn-delete {
        display: block;
    }

.render__nav-projection {
    position: absolute; top: 0;
    display: flex; justify-content: center;
    margin: 0;
    padding: 0 2px 4px;
    line-height: 1; 
    width: 50px;
    font-size: 1.3rem; font-weight: 500;
    color: #555;
    font-family: 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif;
    text-transform: capitalize;
    transition: opacity, transform .2s;
    z-index: 20;
    cursor: pointer;
    outline: none;
}

    .render__nav-projection:hover,
    .render__nav-projection:focus {
        opacity: 1;
    }

    .render__nav-projection:not(.current):hover {
        border-bottom: 2px solid currentColor;
    }

    .render__nav-projection--style { left: 104px; }

    .render__nav-projection--state { left: 52px; }

    .render__nav-projection--config { left: 0; }

    .render__nav-projection--collapse {
        right: 0;
        padding: 0;
        color: #555;
        border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;
        background-color: #d5d5d5;
        width: 24px;
    }
        .render__nav-projection--collapse:after { content: "–"; font-weight: bold; }

        .render-config--collapse .render__nav-projection--collapse:after { content: "+"; transform: scale(1.2) translateY(-1px); }

    .render__nav-projection.current { color: #1f75fe; cursor: default; border-bottom: 2px solid currentColor; }

            
.direction-size {
    margin-right: 4px;
}

.size-config .field--textbox__input {
    border-radius: 2px;
    min-width: 36px;
    padding-left: 2px;
}

    .size-config .field--textbox:first-child .field--textbox__input {
        border-bottom-right-radius: 0; border-top-right-radius: 0;
    }

    .size-config .field--textbox:last-child .field--textbox__input {
        border-bottom-left-radius: 0; border-top-left-radius: 0;
        font-weight: bold;
        text-transform: lowercase;
        background-color: #d5d5d5;
        min-width: 24px;
    }

.text-style__attribute .field--textbox__input.error {
    color: #f5f5f5;
}

.text-field--textual {
    width: 100%;
}

.text-field--textual .name-field--textual__input {
    width: 100%;
}

.field-config .action-container {
    width: calc(50% - 12px);
    background-color: #f2f1f0;
    box-shadow: 1px 2px -1px #c0c0c0;
}

.field-config .action-container + .action-container {
    margin-left: 6px;
}