h1, h2, h3, h4 { font-family: 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif; }

.content-wrapper { padding-left: 1%; padding-right: 1%; }


.page-header {
    flex-grow: 1;
    display: flex; align-items: center;
    height: 60px;
    padding: 18px 5% 12px;
    border-bottom: 4px solid #F27B35;
}

    .login {
        position: absolute;
        right: 5%;
    }

    .login-link {
        display: block;
        padding: 4px 12px 6px;
        color: #fff;
        font-size: 1.5em; font-weight: 500;
        background-color: #EF4E36;
    }

.page-title {
    margin: 0; margin-left: 12px;
    font-weight: 300;
}

.page-body {
    display: flex;
    height: calc(100% - 60px);
}

.body-nav {
    padding-left: 5%; padding-right: 24px;
    background-color: #f5f5f5;
    border-right: 2px solid #FF984F;
}

    .body-nav-title {
        font-weight: 800;
        color: #555;
    }

.menu {
    display: flex; flex-direction: column;
}

.menu-item {
    padding: 4px 2px 1px;
    width: 60px;
    margin-bottom: 6px;
    cursor: pointer;
}
    .menu-item:hover {
        color: #3884FF;    
    }
    .menu-item.selected {
        font-weight: 500;
        color: #3884FF;
        border-bottom: 4px solid #3884FF;
        cursor: default;
    }

.page-footer {
    color: #fff;
    background-color: #031E36;
    padding: 48px 5% 24px;
}

    .poweredby {
        font-size: 1.3em;
    }

    .page-footer__link--gentleman {
        background-color: #fff;
        color: #3a3b4f;
        padding: 1px 6px 2px;
        border-radius: 180px;
    }

    .page-footer__link--gentleman .info {
        display: none;
    }

.app {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-editor {   
    border-radius: 2px;
}

.app-editor .editor-toolbar {
    display: none;
}

.app-editor .editor-concept-header {
}

.field-action { 
    border: 0 none; 
    padding: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.editor-concept > .layout-container {
    background-color: #fefefe;
}



[data-projection]:focus,
.static.active,
.field.active,
.field--list-item:focus,
.field-action:focus {
    box-shadow: none;
    outline: none;
}

.pp-organization {
    position: relative;
    padding: 6px 1%;
    font-size: 1rem;
    overflow: auto;
}

.pp-viewnav {
    position: absolute;
    align-items: center;
    font-size: 1.3em;
    right: 6px;
    top: 6px;
}

    .pp-viewnav .label {
        font-weight: 800;
        color: #EF4E36;
        padding: 0 2px; 
        text-transform: uppercase;
        border-bottom: 2px solid currentColor;
        margin-right: 6px;
    }

    .pp-viewnav[data-style-view="table"] .pp-viewnav__link--table {
        color: #fff;
        background-color: #1F75FE;
    }

    .pp-viewnav[data-style-view="grid"] .pp-viewnav__link--grid {
        color: #fff;
        background-color: #1F75FE;
    }
    
    .pp-viewnav__link {
        display: block;
        padding: 3px 6px;
        font-weight: 500;
        background-color: #f5f5f5;
        border-radius: 2px;
        cursor: pointer;
    }
        .pp-viewnav__link:not(:last-child) {
            margin-right: 6px;
        }
        .pp-viewnav__link:hover {
            background-color: #f0f0f0;
            color: #3884FF;
        }

    .pp-viewnav__link-text {
        display: block;
    }

.pp-social {
    position: relative;
    background-color: #f5f5f5;
    margin-right: 6px; margin-bottom: 6px;
    padding: 1px;
    border-radius: 3px;
    box-shadow: 0 1px 2px -1px #d5d5d5;
}

.pp-social .projection__btn-delete {
    order: 2;
    font-size: 1.3em;
    color: #555;
}

.pp-social .projection__btn-collapse {
    display: none;
}

.pp-social-name {
    width: 72px;
}
    .pp-social .pp-social-name .pp-textbox__input {
        background-color: #d5d5d5;
        color: #444;
        padding: 0 6px;
        border-radius: 1px;
        font-size: 1.3em; font-weight: 500;
    }

    .pp-social .pp-social-name .pp-textbox__input:focus {
        background-color: #eee;
        color: #222;
        padding: 0 6px;
        border-radius: 1px;
        font-size: 1.3em; font-weight: 500;
    }

.pp-address.active {
    border-radius: 2px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #1F75FE
}

.pp-textbox {
    position: relative;
    display: flex; flex-direction: row;
    font-size: 1rem;
}
    .pp-textbox.active {
        box-shadow: none;
    }
    
.pp-textbox__input {
    position: relative;
    display: block;
    padding: 6px 4px 2px;
    width: 100%;
    font-size: 1.4em;
    background-color: #f5f5f5;
    color: #222;
    outline: none;
    border: 2px solid #f0f0f0; border-radius: 3px;
    z-index: 1;
}

    .pp-textbox__input:focus,
    .pp-textbox__input:active {
        border-color: #1F75FE;
    }

    .pp-textbox__input.error {
        border-color: #F27E88;
    }

.pp-textbox2 {
    display: inline-flex; flex-direction: column
}

    .pp-textbox2__label {
        margin-bottom: 1px;
        font-size: 1.2em; font-weight: 500;
        color: #555;
    }

    .pp-textbox2.active .pp-textbox2__label {
        color: #1F75FE;
    }

    .pp-textbox2__input {
        border: 2px solid #e5e4e2;
        border-radius: 4px; font-size: 1.3em;
        padding: 6px;
        background-color: #fbfbfb;
    }

    .pp-textbox2__input.empty {
        border-color: #d5d5d5;
    }

    .pp-textbox2__input:focus,
    .pp-textbox2__input:active {
        border-color: #1F75FE;
    }

    .pp-textbox2__input.error {
        border-color: #F27E88;
    }


    .pp-tagbox {
        position: relative;
        display: flex; flex-direction: row;
        margin-right: 6px;
        border-radius: 2px;
        font-size: 1rem;
        background-color: #f5f5f5;
    }
        .pp-tagbox.active {
            box-shadow: none;
        }
        .pp-tagbox:before {
            content: "#";
            align-self: flex-end;
            padding-left: 3px; padding-right: 2px;
            font-size: 1.5em; font-weight: bold;
            font-family: Consolas, 'Courier New', Courier, monospace;
        }
        
    .pp-tagbox__input {
        order: 1;
        position: relative;
        display: block;
        padding: 0;
        width: 100%;
        font-size: 1.5em; font-weight: 500;
        color: #222;
        outline: none;
        border: 0 none; border-radius: 3px;
        z-index: 1;
    }

    .pp-tagbox .projection__btn-delete {
        order: 2;
        font-size: 1.2em; font-weight: 300;
        height: 100%;
        color: #555;
        background-color: #d5d5d5;
    }

    .pp-tagbox .projection__btn-collapse {
        display: none;
    }
    
        .pp-tagbox__input:focus,
        .pp-tagbox__input:active {
            border-color: #1F75FE;
        }
    
        .pp-tagbox__input.error {
            border-color: #F27E88;
        }
    

.pp-textarea {
    padding: 0;
}

.pp-textarea.active {
    box-shadow: none;
}

.pp-textarea__input {
    padding: 4px 6px;
    border: 0 none;
    background-color: #f5f5f5;
    font-size: 1.3rem;
    border: 2px solid transparent;
    border-radius: 4px;
}

    .pp-textarea__input:focus,
    .pp-textarea__input:active {
        border-color: #1F75FE;
    }

    .pp-textarea__input.error {
        border-color: #F27E88;
    }

.pp-wrap-element {
    flex: 1 1;
}

    .pp-wrap-element + .pp-wrap-element {
        margin-left: 6px;
    }

    .pp-wrap-element--2 {
        flex-grow: 2;
    }

    .pp-fieldgroup--50 {
        width: 50%;
    }
    
.pp-fieldgroup-element {
    flex: 1 1;
}

.pp-fieldgroup-element--3 {
    flex-grow: 2;
}

.pp-textarea2 {
    display: inline-flex; flex-direction: column
}

    .pp-textarea2__label {
        margin-bottom: 1px;
        font-size: 1.2em; font-weight: 500;
        color: #555;
    }

    .pp-textarea2.active .pp-textarea2__label {
        color: #1F75FE;
    }

    .pp-textarea2__input {
        border: 2px solid #e5e4e2;
        border-radius: 4px; font-size: 1.3em;
        padding: 6px;
        background-color: #fbfbfb;
    }

    .pp-textarea2__input.empty {
        border-color: #d5d5d5;
    }

    .pp-textarea2__input:focus,
    .pp-textarea2__input:active {
        border-color: #1F75FE;
    }

    .pp-textarea2__input.error {
        border-color: #F27E88;
    }


.pp-title {
    font-size: 1.8em; font-weight: 300;
    text-transform: uppercase; 
}


.pp-subtitle {
    font-size: 1.6em; font-weight: 500;
    color: #555;
}


.pp-navlink {
    align-self: flex-end;
    display: inline-flex; align-items: center; justify-content: center;
    padding: 4px 8px 5px;
    font-size: 1.4rem; font-weight: 500;
    color: #fff;
    border-radius: 2px;
    background-color: #1F75FE;
}

.pp__btn-add {
    display: flex; align-items: center; justify-content: center;
    padding-left: 6px; padding-right: 6px;
    font-size: 1.3em;
    color: #555;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #e5e4e2;
}

    .pp__btn-add-icon {
        color: #1F75FE;
        font-size: 1.2em; font-weight: 300;
        transform: scale(1.8) translateY(-2px);
        margin-right: 6px;
        transition: .2s;
    }

    .pp__btn-add-text {
        font-weight: 500;
        transition: .2s;
    }

    .pp__btn-add:hover,
    .pp__btn-add:focus,
    .pp__btn-add.active {
        color: #111;
        background-color: #f5f5f5;
        border-color: #1F75FE;
    }

    .pp__btn-add:hover .pp__btn-add-icon,
    .pp__btn-add:focus .pp__btn-add-icon,
    .pp__btn-add.active .pp__btn-add-icon {
        color: #3884FF;
        transform: rotate(90deg) scale(1.8) translateY(-2px);;
    }

.areas .pp-textbox__input {
    background-color: #fefefe;
}

.areas .pp-textarea__input {
    background-color: #fefefe;
}

.pp-person-set__list {
    display: flex;
}

.pp-person-set__rowlist {
    display: table;
}

    .pp-person-set__list-item {
        display: flex;
        padding: 8px 12px;
        border-radius: 4px;
        box-shadow:  0 0 0 1px #d5d5d5;
        background-color: #f9f9f9;
        margin-right: 12px; margin-bottom: 6px;
    }

    .pp-person-set__list-item.active {
        box-shadow: 0 0 0 1px #1F75FE;
    }

    .pp-person-set__list-item > .projection__btn-delete {
        position: absolute;
        top: -6px; right: -6px;
        display: flex; align-items: center; justify-content: center;
        width: 20px; height: 20px;
        color: #fff;
        font-size: 1.3rem; font-weight: 100;
        border-radius: 50%;
        box-shadow: 1px -1px 2px -1px #d5d5d5;
        background-color: #555;
    }

    .pp-person-set__list-item > .projection__btn-delete:hover {
        background-color: #FF6F61;
    }

    .pp-person {
        position: relative;
        min-height: 120px;
    }

    .pp-person--row {
        display: table-row!important;
        width: 100%;
    }

        .pp-person--row.read {
            font-size: 1.3em;
        }

        .pp-person--row.read:nth-child(odd) {
            font-size: 1.3em;
            background-color: #eee;
        }

    .pp-person--row > .projection__btn-collapse { display: none; }

    .pp-person--row > .projection__btn-delete {
        position: relative;
        order: 12;
        /* top: 10px; right: -6px; */
        display: flex; align-items: center; justify-content: center;
        width: 20px; height: 20px;
        color: #fff;
        font-size: 1.3rem; font-weight: 100;
        border-radius: 50%;
        box-shadow: 1px -1px 2px -1px #d5d5d5;
        background-color: #555;
    }

    .pp-person--row > .projection__btn-delete:hover {
        background-color: #FF6F61;
    }

    .pp-person--row > .field {
        display: table-cell;
        padding-left: 2px; padding-right: 2px;
    }

    .pp-person--row > .static {
        order: 1;
        display: table-cell;
        padding: 6px 2px;
    }

    .pp-person--row .pp-textbox__input {
        font-size: 1.4em;
    }

    .pp-person--row > .field.phone {
        width: 120px;
    }
    
    .pp-person--read {
        align-items: center;
        margin-bottom: 12px;
        max-width: 300px;
        background-color: #fff;
        z-index: 2;
    }        
        .pp-person--read:before {
            content: "";
            position: absolute;
            top: 0; left: 0; right: 0;
            height: 84px;
            background-color: #d5d5d5;
            z-index: -1;
        }

        .pp-person--read .pp__btn-edit {
            align-self: flex-end;
        }


    .pp__btn-edit {
        position: relative;
        width: 24px;
        height: 24px;
        background-color: #555;
        border-radius: 50%;
    }
        .pp__btn-edit:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            bottom: 2px; left: calc(50% - 4px);
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            border-top: 4px solid #fff;
            transform: rotate(25deg);
        }
        .pp__btn-edit:before {
            content: "";
            position: absolute;
            height: 14px;
            width:  4px;
            top: 4px; left: 50%;
            background-color: #f5f5f5;
            border-radius:  180px 180px 0 0;
            transform: rotate(25deg);
        }
        .pp__btn-edit:hover:before {
            transform: rotate(25deg) scale(1.1);
        }
        .pp__btn-edit:hover:after {
            transform: rotate(25deg) scale(1.1);
        }

/*
    Areas of research
-----------------------------------------------------------------------------*/
    
.pp-area {
    position: relative;
    background-color: #e5e4e2;
    padding: 2px 12px 4px;
    margin-right: 6px;
    border-radius: 2px;
}

    .pp-area-title {
        position: absolute;
        top: 6px; left: 12px;
        font-size: 1.2em; font-weight: 500;
        color: #555;
    }

    .pp-area > .projection__btn-delete {
        align-self: flex-end;
        font-size: 1.5em; font-weight: 300;
        color: #555;
    }

    .pp-area .pp-textbox__input {
        border: 0 none;
        font-size: 1.4em;
    }

    .pp-area .pp-title {
        font-size: 1.6em;
    }

    .pp-area .pp__btn-add {
        background-color: #555;
        color: #fff;
    }

        .pp-area .pp__btn-add-icon {
            color: #F27B35;
        }

        .pp-area .pp__btn-add:hover,
        .pp-area .pp__btn-add:focus,
        .pp-area .pp__btn-add.active {
            color: #fff;
            background-color: #F27B35;
            border-color: #222;
        }

        .pp-area .pp__btn-add:hover .pp__btn-add-icon,
        .pp-area .pp__btn-add:focus .pp__btn-add-icon,
        .pp-area .pp__btn-add.active .pp__btn-add-icon {
            color: #fff;
            transform: rotate(90deg) scale(1.8) translateY(-2px);;
        }


.pp-image {
    position: relative;
    display: block;
    width: 120px; 
    height: auto;
    border-radius: 50%;
    z-index: 2;
}
    .pp-image.empty {
        width: 120px; 
        color: transparent;
        
    }
        .pp-image.empty:after {
            content: "?";
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            display: flex; align-items: center; justify-content: center;
            font-size: 5em; font-weight: 800;
            background: repeating-linear-gradient(-30deg, #eee, #eee 3px, #e5e4e2 3px, #e5e4e2 6px);
            border-radius: 50%;
            color: #555;
        }

.pp-text {
    text-align: center;
}

.pp-email {
    /* font-size: 1.3em; */
}

.pp-person-info {
    padding-top: 6px;
    align-items: center;
    font-size: 1.4em;
    line-height: 1.5;
    color: #555;
}

.pp-combi-name {
    font-weight: 400;
    font-size: 1.2em;
    color: #222;
}

.pp-project {
    position: relative;
    width: 100%;
    max-width: 640px;
    margin-bottom: 12px;
}