/* Unicode symbol */
.uni-arrowLeft { content:'▶' }
.uni-arrowDown { content: '▼'; }
.uni-arrowUp { content: '▲'; }
.uni-close { content:'✖'; }
.uni-minus { content: '➖'; }
.uni-plus { content: '➕'; }
.uni-telephone { content: '☎'; content:'📞';}
.uni-handicap { content: '♿'; }
.uni-mail { content: '✉'; content:'🖂'}
.uni-question { content: '❓'; content: '❔'}
.uni-attention { content: '❗'; content:'❕';}
.uni-info { content:'ℹ'}
.uni-forward { content: '➡'; }
.uni-backward { content: '⬅'; } 
.uni-preview { content: '👁'; }
.uni-sad { content: '☹'; }
.uni-favorite { content:'❤'; }
.uni-bullet { content: '•'; }
.uni-arrowLeftRight1 { content: '⇹'; }
.uni-arrowLeftRight3 { content: '⇼'; }
.uni-arrowLeftRight3 { content: '⟷'; }