.content-wrapper--header {
    display: flex;
    background: #404040;
    height: 32px;
}

.logo { 
    position: relative;
    display: block;
    margin: 0;
    padding-left: 10px; padding-right: 10px;
    color: #fff; 
    text-decoration: none; 
    font-size: 1.5em;
    line-height: 32px;
    background-color: #36454F;
    z-index: 2;
}
    .logo:before {
        content: "";
        position: absolute;
        top: 0; right: 100%; bottom: 0; left: -200px;
        background-color: #e3e3e3;
        z-index: -1;
    }

    
.header-nav {
    height: 100%;
    padding: 4px 5px 6px;
    background-color: #d3d3d3;
}

.nav { display: flex; }

    .nav-item { 
        color: #1b1b1b;
        font-size: 1.5em;
        border-radius: 2px;
        transition: box-shadow .2s, background-color .5s;
    }
        .nav-item:not(.selected):hover {
            color: #d3d3d3;
            background-color: #777;
            box-shadow: 0 1px 2px #555;
        }
        .nav-item.selected {
            background-color: #f0f0f0;    
            box-shadow: inset 0 1px 2px #555;
            font-weight: 500;
        }

        .nav-item__link {
            display: block;
            padding: 0 7px 2px;
            color: inherit; 
            text-decoration: none; 
        }


.card-container { display: flex; }
    .card-container:not(:last-child) { margin-bottom: 20px; }

.card-container--small { font-size: 0.9rem; }

.card { min-width: 250px; max-width: 500px; }
    .card:not(:last-child) { margin-right: 24px; }

.card-img { 
    float: left; 
    margin-right: 12px;
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    background: burlywood;
}

.card-img--small { width: 100px; height: 100px; }

.card-name {
    margin-bottom: 0;
    font-size: 1.6em; font-weight: 500;
}

.card-role { color: #555; }


.site {
    display: flex;
    flex-direction: column;
    background-color: #fdfeff;
}

    .site:after {
        content: "";
        position: absolute;
        top: -45px; right: 24%; bottom: 10%;
        width: 20%;
        transform: rotate(30deg) skewX(5deg);
        border-top-right-radius: 5px;
        box-shadow: 2px -2px 0 #c0c0c0, inset -50px 50px 50px -20px #e5e4e2;
        z-index: -5;
    }

.site-header {
    padding-top: 30px;
    display: flex; flex-direction: column; align-items: center;
}

.site-title {
    position: relative;
    display: block;
    font-size: 4em; font-weight: normal;
    color: #3A3B4F;
}
    .site-title:after {
        content:"";
        position: absolute;
        top: -210px; left: 0;
        width: 49%;
        height: 200px;
        transform: skewX(10deg) skewY(-5deg) rotate(30deg);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 5%;
        background: #f5f5f5;
        box-shadow: 2px 2px 1px #999;
        opacity: 0.2;
        z-index: -1;
    }
    .site-title:before {
        content:"";
        position: absolute;
        top: -210px; right: 0;
        width: 49%;
        height: 200px;
        transform: skewX(-10deg) skewY(5deg) rotate(-30deg);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 5%;
        background: #f5f5f5;
        box-shadow: -2px 2px 1px #999;
        opacity: 0.2;
        z-index: -1;
    }

.site-description {
    margin-bottom: 24px;
    width: 600px;
    text-align: center;
    font: normal 1.6em 'Bookman Old Style', Bookman, 'Segoe UI', Tahoma, Geneva, sans-serif;
    color: #36454f;
}

.site-menu {
    display: flex;
}

.site-menu-item {
    position: relative;
    width: 96px;
    height: 96px; 
    font-size: 1.7em; font-weight: 300;
    color: #1b1b1b;
    border-radius: 50%;
    background: rgb(255, 220, 116);
}
    .site-menu-item:before {
        content: "";
        position: absolute;
        top: calc(50% + 18px); left: calc(50% - 5px);
        width: 12px; height: 12px;
        border-radius: 50%;
        background-color: #738CFF;
        box-shadow: -18px 0 0 #738CFF, 18px 0 0 #738CFF;
        z-index: 1;
        transition: .2s;
    }
    .site-menu-item:not(:last-child) {
        margin-right: 12px;
    }
    .site-menu-item:hover {
        background-color: rgb(255, 192, 0);
    }
        .site-menu-item:hover:before {
            transform: rotate(90deg) scale(1.2);
            box-shadow: 0 0 0 #738CFF, 0 0 0 #738CFF;
            background-color: rgb(255, 192, 0);
        }

    .site-menu-item__link {
        display: flex; align-items: center; justify-content: center;
        width: 100%;
        height: 100%;
        color: inherit;
        text-decoration: none;
    }

.site-action-link {
    display: flex; align-items: center; justify-content: center;
    margin-top: 24px;
    padding: 12px 24px;
    color: #fff;
    font-size: 1.6em; font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    background-color: #738CFF;
}

.site-body {
    padding: 60px 0 40px;
    display: flex; flex-direction: row; justify-content: space-between;
    flex-grow: 4;
}

.site-body-section {
    display: flex; flex-direction: column;
    flex: 1 1;
    z-index: 5;
}

.site-body-section--features {
    max-width: 600px;
}

.site-body-section--examples {
    margin-left: 120px;
}

.site-body-section--examples .site-body-section-header {
    align-self: flex-end;
}

.site-body-section-header {
    margin: 0;
    display: flex; align-items: center; justify-content: center;
    width: 300px; height: 60px;
    color: #fff;
    border-radius: 0 2px 2px 0;
    background-color: #0d0d0d;
    mix-blend-mode: multiply;
    z-index: 10;
}


.section-title {
    margin-bottom: 12px;
    font-size: 2.4em; font-weight: 400;
    color: #333;
}

.site-body-section-title {
    margin: 0;
    font-size: 3em; font-weight: 600;
}

.site-body-section-content {
    position: relative;
    margin-top: -30px;
    padding: 48px 30px 40px;
    font-size: 1.2rem;
    background-color: #f5f5f5;
    color: #333;
    border-radius: 2px;
}

.feature-list {
    display: flex; flex-direction: column;
}

    .feature-item {
        line-height: 1.5;
    }

.example-list {
    display: flex;
}

    .example-item {
        display: flex; flex-direction: column;
    }
        .example-item:not(:last-child) { margin-right: 24px; }

    .example-item-title {
        margin: 0; margin-bottom: 6px;
        font-weight: 300; font-size: 1.2em;
        color: #555;
    }

    .example-item-link {
        display: block;
        height: 200px;
    }

    .example-item-link-img {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .example-description {
        font-size: 0.85em;
    }


.btn-link  {
    position: relative;
    margin-left: 3px; margin-right: 3px;
    text-align: center;
    color: #fff;   
    transition: transform .2s;
    z-index: 2;
}
    .btn-link:before, 
    .btn-link:after {
        content: "";
        position: absolute;
        top: -2px; bottom: -2px; left: -5px;
        border-radius: 2px;
    }
    .btn-link:after {
        right: -5px;
        background: #5497FF;
        transition: box-shadow .2s;
        z-index: -2;
    }
    .btn-link:before {
        right: calc(100% + 5px);
        background: #2D68C4;
        z-index: -1;
        transition: right .5s;
    }
    .btn-link:hover:before { right: -5px; }
    .btn-link:focus { transform: scale(0.95); }
        .btn-link:focus::after { box-shadow: none; }