html,
body {
    height: 100%;
    font: normal 10px 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif;
}

.logo {
    margin: 0;
    font: bold 1.3em 'Bookman Old Style', Bookman, 'Segoe UI', Tahoma, Geneva, sans-serif;
    display: inline-block;
    margin-right: 10px;
    color: #36454F;
}

.logo strong { font: 600 1em 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif; }

p, li, td, th { font-size: 1.5em; }

li li, 
p li, td li, th li,
li p, li td, li th { font-size: 1em; }

table, th, td { border: 1px solid #1b1b1b; border-collapse: collapse; }

th { text-align: center; }

.content-wrapper { position: relative; padding: 0 1%; }

.btn {
    border: none;
    background: none;
    font-family: 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif;
    text-decoration: none;
}

[contenteditable=true] { outline: none; }

.font-ui { font-family: 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif; }

.font-code { font-family: Consolas, 'Courier New', Courier, monospace; }

.font-gentleman { font-family: 'Bookman Old Style', Bookman, 'Segoe UI', Tahoma, Geneva, sans-serif; }

/* Organization */

.left { float: left; }

.right { float: right; }

.clear { clear: both; display: block; }

.clear:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.menu { display: inline-flex; justify-content: space-between; }

.menu-item { font-size: 1.4em; }
    .menu-item:not(:last-child) { margin-right: 2px; }

.btn-menu {
    padding: 2px 7px 3px;
    color: #f5f5f5;
    border-radius: 2px;
    font-weight: 500;
    background-color: #36454F;
    box-shadow: 0 1px 1px rgba(55, 55, 55, 0.6);
}
    .btn-menu:hover { background-color: #0F3877; }
    .btn-menu.selected { background-color: #5497FF; box-shadow: 0 1px 1px rgba(55, 55, 55, 0.8); }

/* Reset */

.bare-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.block { display: block!important; }