.builder-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 20px);
    box-sizing: border-box;
    background-color: #fefefe;
    box-shadow: 0 0 1px #555;
}
    .explorer-container.close { display: none; }
    

.builder-header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    font-size: 1.2em;
    color: #333;
    transition: .2s;
}
    .builder-header:before {
        content: "Builder";
        position: absolute;
        top: 50%; left: 1%;
        font: 600 1.3rem 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif;
        color: #555;
        transform: translateY(-50%);
    }
    .builder-header:hover {
        padding-bottom: 6px;
    }
        .builder-header:hover .builder-toolbar {
            border-bottom-left-radius: 10px;
        }

    .builder-toolbar {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: flex-end;
        padding: 5px 10px;   
        width: 72px;
        box-sizing: border-box;
        align-self: flex-end;
        background-color: #d5d5d5;
        transition: .2s;
    }
        .builder-toolbar:hover {
            background-color: #555;
        }

        .btn-close {
            display: block;
            width: 20px;
            height: 20px;
            padding: 0;
            line-height: 15px;
            background-color: #f5f5f5;
            box-shadow: 0 1px 1px #555;
            border-radius: 50%;
            transition: .2s;
        }
            .btn-close:after {
                content: "⨯";
                font-size: 20px;
                color: #555;
            }

    .builder-header-concept {
        position: absolute;
        top: 0; bottom: 0; left: 25%; right: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 10px;
        color: #555;
        border-radius: 180px;
        color: #555;
        background-color: #f0f0f0;
    }

        .builder-header-concept-label {
            margin-right: 2px;
            font-size: 1.4em;
        }

.builder-selector-group {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

    .builder-selector-group-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 0 1%;
    }
        .builder-selector-group-item:not(:last-child) {
            margin-bottom: 10px;
        }

        .builder-selector-group-item-title { 
            width: 70px;
            font-weight: 800;
        }

    .builder-selector-list {
        display: flex;
        flex-direction: row;
    }

    .builder-selector {        
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        color: #555;
        background-color: #fefefe;
        box-shadow: 1px 2px 1px -1px #777;
        cursor: pointer;
    }

    .builder-selector:not(:last-child) {
        margin-right: 10px;
    }

    .builder-selector--layout {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-weight: 600;
        line-height: 40px;
        text-align: center;
        box-shadow: 0 2px 3px -1px #999, 1px 0 2px #d5d5d5, -1px 0 2px #d5d5d5;
    }

    .builder-selector--concept {
        border-radius: 2px;
        box-shadow: 0 1px 3px -1px #999;
        transition: .2s;
    }
        .builder-selector--concept:hover {
            box-shadow: 0 2px 5px #777;
            transform: scale(1.05);
        }

    .builder-selector .projection-wrapper.active {
        position: relative;
        z-index: 5;
        transition: opacity .25s ease;
    }

    .builder-selector .projection-wrapper.active:after {
        content: "";
        position: absolute;
        top: -10px; right: -10px; bottom: -10px; left: -10px;
        display: block;
        border-radius: 5px;
        border: 2px solid #0099ff; border-width: 0 2px;
        z-index: -1;
        -webkit-animation: ripple 1s linear 1s infinite;
                animation: ripple 1s linear 1s infinite;
    }

    .builder-selector .projection-wrapper.active:hover:after {
        -webkit-animation: none;
                animation: none;
        border: 2px solid #0099ff;
    }

    @-webkit-keyframes ripple {
        0% {
            -webkit-transform: scale(1);
                    transform: scale(1);
        }
        75% { 
            -webkit-transform: scale(1.15);
                    transform: scale(1.15);
        }
        100% { 
            -webkit-transform: scale(1);
                    transform: scale(1);
        }
    }

    @keyframes ripple {
        0% {
            -webkit-transform: scale(1);
                    transform: scale(1);
        }
        75% { 
            -webkit-transform: scale(1.15);
                    transform: scale(1.15);
        }
        100% { 
            -webkit-transform: scale(1);
                    transform: scale(1);
        }
    }


.builder-body {
    padding: 20px 1% 10px;
    box-sizing: border-box;
    overflow: auto;
    background-color: #f5f5f5;
    scrollbar-color: #c0c0c0;
    scrollbar-width: thin;
    flex-grow: 1;
}

.style-body {
    background: rgb(46, 47, 48);
}

/* .projection-container {
    display: block;
    padding: 2px calc(1% + 6px);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 1px -1px #d5d5d5;
}
    .projection-container:not(:last-child) {
        margin-bottom: 10px;
    } */

    .layout-header {
        display: block;
        padding: 10px 1%;
    }

    .layout-body {
        display: block;
        padding: 10px 1%;
        background-color: #fefefe;
        border-radius: 3px;
        box-shadow: inset 0 2px 4px rgba(200, 200, 200, 0.85);
    }

    .layout-body--stack {
        display: flex;
        padding: 10px 1%;
        background-color: #fefefe;
        border-radius: 3px;
        box-shadow: inset 0 2px 4px rgba(200, 200, 200, 0.85);
    }
    
    .layout-body--stack[data-orientation="horizontal"] {
        flex-direction: row;
    }

    .layout-body--stack[data-orientation="vertical"] {
        flex-direction: column;
    }

    .stack-orientation {
        font-size: 1.3em;
    }

    .stack-orientation:not(:last-child) {
        margin-right: 5px;
    }

.projection-placeholder {
    padding: 10px;
    font-size: 1.4em;
    border: 2px dashed #4d308f;
}

.drop-area {
    transition: .2s;
}
    .drop-area.highlight {
        background-color: #4d308f;
        text-align: center;
        color: #fff;
    }

.builder-footer {
    padding: 10px 1%;
    box-sizing: border-box;
    color: #fff;
    background-color: #555;
}