
.convo-container {
    position: absolute;
    bottom: 0; right: calc(30% + 10px);
    display: flex;
    flex-direction: column;
    border-top: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; border-top-left-radius: 2px;
    box-shadow: 0 -1px 2px #999;
    background: #f9f9f9;
    font-size: 1rem;
    justify-content: flex-end;
}

.container {
    position: relative;
    margin-top: 10px;
}

.container-action {
    position: absolute;
    top: 0; right: 0;
    display: flex;
    font-size: 1rem;
}

.container-action .btn {
    margin-right: 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 1.3em; font-weight: 800;
    border-radius: 50%;
    box-shadow: 0 1px 2px #555;
}

.convo-wrapper { padding: 5px 10px 0; box-sizing: border-box; }

.convo { 
    margin-top: 0; margin-bottom: 0;
    padding: 5px 10px; 
    color: #fff;
}

.convo--gentleman { 
    margin-right: 20px;
    background-color: #36454F;
}

.convo--user { 
    margin-left: 20px;
    text-align: right;
    background-color: royalblue;
}

.question { 
    width: 100%; 
    resize: none; 
    padding: 5px 10px;
    font-size: 1.5em;
    box-sizing: border-box;
    color: #fff;
    border: 0 none;
    background-color: #555;
}
