h1, h2, h3, p { margin-top: 0; }

.content-wrapper { padding: 0 5%; }

.content-wrapper--header {
    display: flex;
    background: #404040;
    height: 32px;
}

.logo { 
    position: relative;
    display: block;
    margin: 0;
    padding-left: 10px; padding-right: 10px;
    color: #fff; 
    text-decoration: none; 
    font-size: 1.5em;
    line-height: 32px;
    background-color: #36454F;
    z-index: 2;
}
    .logo:before {
        content: "";
        position: absolute;
        top: 0; right: 100%; bottom: 0; left: -200px;
        background-color: #e3e3e3;
        z-index: -1;
    }

.header-nav {
    height: 100%;
    padding: 4px 5px 6px;
    background-color: #d3d3d3;
    box-sizing: border-box;
}

.action-call-wrapper {
    position: relative;
    flex-grow: 2;
    text-align: right;
    z-index: 3;
}

.action-call {
    display: inline-block;
    width: 120px;
    height: 100%;
    font-size: 1.5em; font-weight: 500;
    color: #FFD700;
    line-height: 30px;
    text-align: center; text-decoration: none;
    box-shadow: 0 0 5px -1px #fada5e;
    transition: color .5s, width .3s, box-shadow .5s .2s;
    z-index: 2;
}
    .action-call:after {
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: rgba(255, 255, 240, 0.05);
        z-index: -1;
    }

    .action-call:hover {
        color: #333;
        font-size: 1.6em; font-weight: bold;
        width: 100%;
        box-shadow: none;
    }
        .action-call:hover:after { background-color: #FFD300; transition: background-color .3s .2s; }

.docs__main {
    display: flex;
}

.main-nav {
    width: 30%; max-width: 200px;
    padding-top: 20px; padding-left: 5%;
    background: #f0f0f0;
}

.main-content {
    flex-grow: 2;
    padding-left: 10px;
    background-color: #fefefe;
}

.body { 
    padding-top: 20px; padding-bottom: 20px;
    background-color: #f5f5f5; 
}

article section { padding-right: 150px; line-height: 1.5; }

.page-title {
    margin: 0;
    font-size: 2.8em; font-weight: 300;
    color: #1b1b1b;
}

.section-title {
    margin-bottom: 5px;
    font-size: 2em; font-weight: 400;
    color: #333;
}

.title {
    margin-bottom: 2px;
    font-size: 1.7em; font-weight: 500;
}

.gentleman-quote {
    margin: 0;
    font: normal 1.4em 'Bookman Old Style', Bookman, 'Segoe UI', Tahoma, Geneva, sans-serif;
    color: #36454f;
}

main {
    height: calc(100% - 32px);
    background-color: #fff;
}

.card-container { display: flex; }
    .card-container:not(:last-child) { margin-bottom: 20px; }

.card-container--small { font-size: 0.9rem; }

.card { min-width: 250px; max-width: 500px; }
    .card:not(:last-child) { margin-right: 20px; }

.card-img { 
    float: left; 
    margin-right: 5px;
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    background: burlywood;
}

.card-img--small { width: 100px; height: 100px; }

.card-name {
    margin-bottom: 0;
    font-size: 1.6em; font-weight: 500;
}

.card-role { color: #555; }

article[data-page="docs"] {
    background: #f0f0f0 url(../images/books-1845614_1920.jpg) 100%/cover no-repeat;
}

.article-header { 
    padding-top: 20px; padding-bottom: 30px;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.2));
}

.box-container { 
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding: 20px  calc(5% + 300px) 30px 5%; 
    z-index: 2;
}
    .box-container:after {
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background: linear-gradient(to right, #848482, transparent);
        z-index: -1;
    }


.tablet {
    content: "";
    position: absolute;
    top: 10px; right: 5%; bottom: 10px;
    width: 300px;
    background: radial-gradient(#a9a9a9, #838996);
    border: solid #555;
    border-width: 10px 7px;
    border-radius: 5%;
    z-index: -1;
}

.box { border-radius: 2px; overflow: hidden; }
    .box:hover { box-shadow: 3px 5px 1px -1px rgba(85, 85, 85, 0.5); transition: .2s .2s; }

        .box:hover .box-title { margin-bottom: 0; padding-bottom: 13px; }

.box-title {
    position: relative;
    display: block;
    margin-top: 0; margin-bottom: 3px;
    color: #2D68C4;
    font-size: 1.7em; font-weight: 500;
    padding: 10px;
    background-color: #fefefe;
    z-index: 2;
    transition: .2s;
}

.box-description {
    margin: 0;
    background-color: #fefefe;
    padding: 5px 10px 10px;
}


.box-header:hover + .box-content li {
    margin-top: 0; 
    padding-top: 4px;
    background-color: #f5f5f5;
}

.box-content li:hover {
    background-color: #fff;
    margin-left: 2px; 
}

.box-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.box-content li {
    position: relative;
    margin-top: 2px;
    padding: 2px 10px 3px;
    background-color: #eee;
    z-index: 2;
    transition: .2s;
    z-index: 2;
}

.box-link {
    display: block;
    color: #2D68C4;
}

.box-content li:last-child {
    flex-grow: 2;
}

.link {
    position: relative;
    display: inline-block;
    text-decoration: none; text-align: center;
    box-sizing: border-box;
}

.link-wrapper {
    display: inline-block;
    width: 85px; height: 80px;
    text-align: center;
    padding-top: 20px; padding-left: 5px; padding-right: 5px;
    box-shadow: 0 3px 2px rgba(0,0,0,0.3), 0 -1px 2px #999;
    background: #5497FF;
    border-radius: 50%;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    transform: scale(0.8);
}

.link-mail {
    display: inline-block;
    width: 60px; height: 35px;
    color: #555;
    border-radius: 0 0 1px 1px;
    background-color: #fff;
    box-shadow: 0 1px 1px #999;
    overflow: hidden;
    z-index: 2;
    transition: box-shadow .2s;
}
    .link-mail:after {
        content: "";
        position: absolute;
        bottom: -50px; 
        width: 200px; height: 200px;
        z-index: -2;
        transform: rotate(45deg) skew(-25deg, -25deg) translate(-102px);
        box-shadow: 0 0 2px #555;
        background: #f5f5f5;
        transition: box-shadow .2s;
    }
        .link-mail:hover:after { box-shadow: 0 1px 0 1px #d9d9d9; }
    .link-mail:focus { box-shadow: none; }


.link-out {
    display: inline-block;
    padding: 1px 5px 2px;
    position: relative;
    text-decoration: none;
    color: #5497FF;
    transition: box-shadow .2s .3s;
    z-index: 2;
}
    .link-out:visited { color: #2D68C4; }
    .link-out:hover { box-shadow: 0 1px 1px #999; }
    .link-out:after {
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: #f9f9f9;
        box-shadow: inset 0 -2px 0 currentColor;
        z-index: -1;
        transition: box-shadow .5s;
    }
        .link-out:hover:after { box-shadow: inset 0 -50px 0 #f0f0f0; }

.btn-link  {
    position: relative;
    margin-left: 3px; margin-right: 3px;
    text-align: center;
    color: #fff;   
    transition: transform .2s;
    z-index: 2;
}
    .btn-link:before, .btn-link:after {
        content: "";
        position: absolute;
        top: -2px; bottom: -2px; left: -5px;
        border-radius: 2px;
    }
    .btn-link:after {
        right: -5px;
        background: #5497FF;
        box-shadow: 0 3px 2px -1px rgba(0,0,0,0.2);
        transition: box-shadow .2s;
        z-index: -2;
    }
    .btn-link:before {
        right: calc(100% + 5px);
        background: #2D68C4;
        z-index: -1;
        transition: right .5s;
    }
    .btn-link:hover:before { right: -5px; }
    .btn-link:hover:after { box-shadow: 0 1px 5px rgba(0,0,0,0.5) }
    .btn-link:focus { transform: scale(0.95); }
        .btn-link:focus::after { box-shadow: none; }
    
/* @media only screen and (max-width: 768px) {
    .content-wrapper {
        padding: 0 1%; 
    }
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .box {
        width: calc(50% - 5px);
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .box { width: calc(33.3% - 5px); }
        .box:not(:nth-child(3n)) { margin-right: 10px; }
        .box:nth-child(n + 4) { margin-top: 10px; }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .box { width: calc(30% - 5px); }
}