.editor-container {
    position: relative;
    display: flex; flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(100, 100, 100, 0.95);
    z-index: 1;
}

    .editor-container.close { 
        display: none; 
    }

        .editor-container.empty .editor-header {
            background-color: #fff;
        }
        .editor-container:not(.empty) .editor-header {
            border-bottom: 4px solid #8095d9;
        }
            .editor-container:not(.empty) .editor-header:hover {
                border-color: #0087bd;
            }

        .editor-container.empty .editor-body {
            padding: 0;
        }

.editor-header {
    position: relative;
    display: flex; flex-direction: column;
    box-sizing: border-box;
    color: #333;
    transition: .2s;
    background-color: #f5f5f5;
    z-index: 10;
}
    .editor-header:hover {
        background-color: #f0f0f0;
    }

.editor-header-menu {
    display: flex; flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%; 
    box-sizing: border-box;
}

    .editor-header-title {
        font: 600 1.3rem 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif;
        color: #555;
    }

    .editor-selector {
        align-self: flex-start;
        display: flex;
        padding-left: 1%; padding-right: 1%;
        justify-content: center;
        height: 100%;
        cursor: default;
        background-color: #fff;
    }
    
    .editor-selector-item {
        position: relative;
        padding-left: 12px; padding-right: 12px;
        line-height: 34px;
        box-sizing: border-box;
        font-size: 1.4rem;
        background-color: #d5d5d5;
        transition: .2s;
    }
 
        .editor-selector-item.selected {
            background-color: #fff;
            font-weight: 600;
            color: #555;
            height: 100%;
            z-index: 5;
        }
            .editor-selector-item.selected:after {
                content: "";
                position: absolute;
                right: 4px; left: 4px; bottom: 2px;
                height: 4px;
                border-radius: 180px;
                background-color: #d5d5d5;
            }
        .editor-selector-item:not(.selected) {
            transform: scale(0.85);
            border-radius: 4px;
        }
        .editor-selector-item:not(:last-child) {
            margin-right: 4px;
        }
        .editor-selector-item:not(.selected):hover {
            background-color: #f0f0f0;
            transform: scale(0.95);
        }

    .editor-header-main {
        padding: 8px 1%;
        background: linear-gradient(#fff, transparent 150%);
    }

        .editor-selector-model {
            display: flex;
            align-items: center;
            padding: 6px 24px;
            height: 100%;
            box-sizing: border-box;
            color: #0F4C81;
            font-size: 1.4em; font-weight: 300;
            background-color: #fff;
            z-index: 10;
        }

        .selector-model-concepts {
            display: flex;
        }
            .selector-model-concept {
                margin-right: 12px;
                padding: 8px 12px;
                text-align: center; text-transform: capitalize;
                color: #fff;
                font-size: 1.3rem; font-weight: 600;
                border-radius: 2px;
                background-color: #555;
                cursor: pointer;
                transition: .2s;
            }
                .selector-model-concept:hover {
                    transform: scale(1.05);
                }
                .selector-model-concept:active {
                    transform: scale(0.98);
                }

    .selector-concepts {
        display: flex;
    }

    .selector-concept {
        position: relative;
        display: flex;
        align-items: center;
        padding: 4px 12px 5px;
        border-radius: 180px;
    }
        .selector-concept:not(:last-child) {
            margin-right: 20px;
        }
    
    .selector-concept--root {
        font-size: 1.2em;
        color: #fff;
        background-color: #222;
        border-radius: 2px;
    }
        .selector-concept--root + .selector-concept {
            border-left: 4px solid #222;
        }
            .selector-concept--root + .selector-concept:before {
                content: "";
                position: absolute;
                top: calc(50% - 3px); right: 100%;
                height: 6px;
                width: 50px;
                background-color: #222;
                z-index: -1;
            }

    .selector-concept--parent {
        font-size: 1.2em; font-weight: 500;
        color: #555;
        background-color: #d5d5d5;
        border-right: 4px solid #222;
    }
        .selector-concept--parent + .selector-concept {
            border-left: 4px solid #222;
        }
            .selector-concept--parent + .selector-concept:before {
                content: "";
                position: absolute;
                top: calc(50% - 3px); right: 100%;
                height: 6px;
                width: 50px;
                background-color: #222;
                z-index: -1;
            }

    .selector-concept--active {
        flex-grow: 2;
        font-size: 1.3em;
        padding-left: 4px;
        color: #fff;
        border-radius: 0;
        background-color: #fff;
    }

    .selector-concept--active .selector-concept-content {
        padding: 4px 12px 5px;
        font-weight: 600; font-size: 0.9em;
        font-style: italic;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: royalblue;
    }
    
    .selector-concept-nature {
        font-style: normal;
        padding: 4px 8px 5px;
        font-weight: 400; font-size: 0.9em;
        text-transform: uppercase;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background-color: #638AFF;
    }

    .selector-concept__component {
        position: relative;
        margin-left: 6px;
        padding: 3px 6px 4px;
        font-size: 0.9em;
        color: #fff;
        background-color: #555;
        border-radius: 4px;
    }

    .selector-concept--ancestor {
        padding: 4px 12px 5px;
        color: #fff;
        box-sizing: border-box;
        font-size: 1.2em;
        border-right: 4px solid #222; border-radius: 180px;
        background-color: #d5d5d5;
    }
        .selector-concept--ancestor + .selector-concept {
            border-left: 4px solid #222;
        }
            .selector-concept--ancestor + .selector-concept:before {
                content: "";
                position: absolute;
                top: calc(50% - 3px); right: 100%;
                height: 6px;
                width: 50px;
                background-color: #222;
                z-index: -1;
            }
    .selector-ancestor-concepts {
        position: relative;
        display: flex;
        font-size: 0.9em;
        overflow: auto;
    }
        .selector-ancestor-concept {
            flex: 1;
            position: relative;
            padding: 4px 12px 5px;
            color: #fff;
            border-radius: 180px;
            background-color: #555;
            transition: .2s;
        }
            .selector-ancestor-concepts:before {
                content: "";
                position: absolute;
                top: calc(50% - 2px); left: 0; right: 0;
                height: 4px;
                background-color: #555;
            }
            .selector-ancestor-concept:first-child { flex-grow: 2; }
            .selector-ancestor-concept:nth-child(2) { flex-grow: 1.5; }
            .selector-ancestor-concept:last-child { flex-grow: 2; }
            .selector-ancestor-concept:not(:last-child) { margin-right: 8px; }
            .selector-ancestor-concept:hover { flex-grow: 2; }

    .editor-toolbar {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: flex-end;
        padding: 6px 1%; 
        box-sizing: border-box;
        align-self: flex-start;
        background-color: #f0f0f0;
        overflow: hidden;
        transition: .2s;
    }
        .editor-toolbar:hover {
            background-color: #c0c0c0;
            border-bottom-left-radius: 10px;
            z-index: 10;
        }

        .editor-toolbar .btn {
            font-size: 1rem;
        }

        .editor-toolbar .btn-close {
            display: block;
            width: 24px;
            height: 24px;
            padding: 0;
            font-size: 1.4rem; font-weight: 500;
            background-color: #f0f0f0;
            box-shadow: 0 1px 2px  #555;
            border-radius: 50%;
            transition: .2s;
        }
            .editor-toolbar .btn-close:after {
                content: "✖";
                display: block;
                transition: .4s;
            }
            .editor-toolbar .btn-close:hover {
                background-color: #fff; 
            }
            .editor-toolbar .btn-close:hover:after {
                color: #222;
                transform: rotate(-180deg) scale(1.1) translateY(-1px);
            }
        .editor-toolbar .btn-new {
            display: block;
            margin-right: 12px;
            width: 24px;
            height: 24px;
            padding: 0;
            font-size: 2rem; font-weight: 400;
            color: #fff;
            background-color: royalblue;
            box-shadow: 0 1px 1px #777;
            border-radius: 50%;
            transition: .2s;
        }
            .editor-toolbar .btn-new:after {
                content: "+";
                display: block;
                width: 100%; 
                height: 100%;
                transition: .4s;
            }
            .editor-toolbar .btn-new:hover {
                background-color: #638AFF;
                
            }
                .editor-toolbar .btn-new:hover:after {
                    transform: rotate(180deg) scale(1.1) translateY(-2px);
                }

        .editor-toolbar .btn-style {
            display: block;
            margin-right: 12px;
            width: 24px;
            height: 24px;
            padding: 0;
            line-height: 15px;
            color: #fff;
            background-color: #e01f5e;
            box-shadow: 0 1px 1px #777;
            border-radius: 50%;
            transition: .2s;
        }
            .editor-toolbar .btn-style:after {
                content: "#";
                font-size: 16px; font-weight: 600;
            }
            .editor-toolbar .btn-style:hover {
                background-color: #ed3972;
                transform: rotate(360deg) scale(1.1);
            }

.editor-body {
    position: relative;
    flex-grow: 1;
    padding: 20px calc(1% + 6px) 12px;
    box-sizing: border-box;
    background-color: #fefefe;
    overflow-y: auto; overflow-x: visible;
    scrollbar-color: #c0c0c0; scrollbar-width: thin;
    outline: none;
}

.editor-home {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.download-list {
    display: flex;
} 
    .download-list:not(:empty) {
        padding-top: 2px;
    } 

    .download-item {
        margin-right: 4px;
        padding: 6px 8px;
        font-size: 1.3rem;
        color: #555;
        border-radius: 2px;
        box-shadow: 2px -1px 1px #c0c0c0;
        background-color: #fff;
    }

        .download-item__link {
            display: block;
            width: 100%;
            height: 100%;
        }

.style-container {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    padding: 12px 18px;
    backdrop-filter: blur(2px);
    background-color: rgba(245, 245, 245, 0.8);
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    z-index: 20;
}

.style-label {
    display: block;
    margin-bottom: 6px;
    font-size: 1.3em; font-weight: 400;
    color: #000;
}

.control-wrapper--width .material-icons {
    transform: rotate(90deg);
    border-radius: 2px;
    box-shadow: 0 0 0 1px #c0c0c0;
    margin-right: 8px;
}

.control-wrapper--size .material-icons {
    border-radius: 2px;
    box-shadow: 0 0 0 1px #c0c0c0;
    margin-right: 8px;
}

.control-wrapper {
    margin-bottom: 12px;
}

.input-wrapper {
    display: inline-flex;
}

.style-input {
    font-size: 1.3em;
}
    .style-input:not(:last-child) {
        margin-right: 4px;
    }

.style-input--number {
    padding: 2px;
    max-width: 30px;
    text-align: center;
    background: none;
    outline: none;
    border: 0 none; border-bottom: 1px solid #d5d5d5;
}

    .style-input--range:hover + .style-input--number,
    .style-input--number:hover {
        border-color: #a9a9a9;
    }

    .style-input--range:focus + .style-input--number,
    .style-input--number:focus {
        border-color: #2680eb;
        box-shadow: 0 1px 0 #2680eb;
    }

.note-container {
    position: absolute;
    font-size: 0.9rem;
    background-color: #555;
    box-shadow: 0 2px 1px -1px #999;
    top: -999px;
    transition: .2s;
    z-index: 10;
}

.note-content {
    margin: 0;
    padding: 5px 10px 5px;
    box-sizing: border-box;
    color: #1b1b1b;
    background: linear-gradient(#e5e4e2, #fff, #f5f5f5);
}

.note-button-container {
    position: relative;
    display: flex;
}

.btn-action {
    display: block;
    padding: 5px 10px;
    font-size: 1.4rem;
    color: #fff;
}

.btn-action:hover {
    font-size: 1.4rem;
    background-color: #ffd300;
    color: #222;
}

.note-choices {
    margin: 0;
}

.note-choices-item {
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

.note-choices-item:hover {
    background-color: #1b1b1b;
}

.choice-container { position: relative; }

    .choice-container:not(.active) .choice-results { display: none; }

    .choice-input {
        position: relative;
        display: block;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        font-size: 1.4rem;
        background: 0 0;
        outline: 0;
        border: 0 none;
        border-bottom: 1px solid #a9a9a9
    }
        .choice-input:focus {
            border-color: royalblue;
            box-shadow:0 1px 0 royalblue;
        }

    .choice-results {
        position: absolute;
        width: 100%;
        /* box-sizing: border-box; */
        font-size: 1.3rem;
        box-shadow: 0 1px 2px #555;
    }
        .choice-result-item {
            padding: 5px 7px;
            width: 100%;
            box-sizing: border-box;
            font-weight: 500;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: .2s;
        }
            .choice-result-item:hover { 
                color: #fff; 
                background-color: #5F4B8B; 
            }

.notify {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 3vh 20px;
    width: 50vw; left: 25vw;
    text-align: center;
    color: #fff;
    background-color: royalblue;
    box-shadow: 0 -2px 3px -1px #999;
    transform: translateY(200px);
    opacity: .5;
    z-index: 10;
    transition: transform .5s, opacity .2s;
}
    .notify.error {
        background-color: red;
    }
    .notify.open { 
        transform: translateY(0); 
        opacity: 1;
        transition: transform .2s, opacity .5s;
    }

.btn-projection {
    position: fixed;
    display: block;
    padding: 4px 10px 5px;
    width: 150px;
    box-sizing: border-box;
    font-size: 1.3rem; font-weight: 600;
    color: #fff;
    border-radius: 2px;
    background-color: royalblue;
    opacity: 0.5;
    transition: .2s;
    z-index: 5;
}
    .btn-projection:after {
        content: "";
        position: absolute;
        width: 100px; height: 100px;
        border-radius: 50%;
        background-color: royalblue;
        transition: 0.5s;
        z-index: -1;
    }
    .btn-projection:disabled {
        color: #d5d5d5;
        background-color: #555;
    }
        .btn-projection:disabled:after {
            color: #d5d5d5;
            background-color: #555;
        }
    .btn-projection:hover {
        opacity: 1;   
    }

.btn-projection--previous {
    right: calc(2% + 170px); bottom: calc(1% + 50px);
    text-align: right;
}
    .btn-projection--previous:after {
        top: -40px; left: -5px;
    }
    .btn-projection--previous:not(:disabled):hover:after {
        transform: rotate(180deg) scale(1.1);
        box-shadow: 2px 0 1px #999;
    }

.btn-projection--next {
    right: 20px; bottom: calc(1% + 50px);
    text-align: left;
}        
    .btn-projection--next:after {
        top: -40px; right: -5px;
    }
    .btn-projection--next:not(:disabled):hover:after {
        transform: rotate(-180deg) scale(1.1);
        box-shadow: -2px 0 1px #999;
    }

.menu {
    position: absolute;
    bottom: 5%; right: 5%;
    height: 72px; 
    width: 72px;
    padding: 0;
    line-height: 72px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: radial-gradient(#333444, #323133);
    border-radius: 50%;
    box-shadow: 0 1px 5px -1px #1b1b1b;
    z-index: 50;
    transition: .2s;
} 

    .menu-title {
        display: block;
        font-size: 1.4em; font-weight: 600;
        text-align: center;
    }

    .menu.open .btn {
        opacity: 1;
    }
        .menu.open .btn:nth-child(2) { transform: scale(1) translateY(-80px); }
        .menu.open .btn:nth-child(3) { transform: scale(1) translateY(-150px); }
        .menu.open .btn:nth-child(4) { transform: scale(1) translateY(-220px); }

    .btn-import, 
    .btn-export,
    .btn-build {
        position: absolute;
        bottom: 0; left: 8px;
        height: 60px; width: 60px;
        padding: 0;
        line-height: 60px;
        font-size: 1.4em; font-weight: 500;
        color: #fff;
        background-color: royalblue;
        border-radius: 50%;
        box-shadow: 0 1px 5px -1px #1b1b1b;
        z-index: 50;
        opacity: 0; transform: scale(0);
        transition: .2s;
    }

.projection-window {
    position: absolute;
    top: 100px; right: 5%;
    padding: 6px 12px 8px;
    color: #fff;
    background-color: royalblue;
    border-radius: 4px; 
    box-shadow: 1px 2px 6px -1px #0d0d0d;
    z-index: 50;
    transition: .2s;
}

.projection-window-title {
    display: block;
    font-size: 1.4em; font-weight: 300;
    margin-bottom: 6px;
}

.projection-window-button {
    margin-right: 12px;
    height: 60px; width: 60px;
    padding: 0;
    line-height: 60px;
    font-size: 1.3em; font-weight: 500;
    color: #fff;
    background-color: #5F84F4;
    border-radius: 50%;
    box-shadow: 0 2px 4px -1px #555;
    transition: .2s;
}

.projection-window-button:disabled {
    background-color: #555;
    transform: scale(0.9);
    opacity: 0.5;
}

/* SCREEN SIZE: Narrow */
@media screen and (max-width: 44.99em) {
    aside {
        display: none;
    }

    .body {
        right: 0;
    }
}