[data-gentleman-editor] {
    position: relative;
    height: 100%;
    font-size: 1rem;
    background-color: #f5f5f5;
    padding: 20px; padding-bottom: 0;
    box-sizing: border-box;
    overflow: auto;
} 
    [data-gentleman-editor]:after {
        content: "";
        display: block;
        height: 20px;
    }

.body {
    background-color: #fefefe;
    box-shadow: 0 0 1px #555;
    min-height: calc(100% - 20px);
    padding: 15px 10px;
    box-sizing: border-box;
}

.projection-wrapper[data-object] {
    transition: transform .2s;
}

.active { 
    position: relative;
    z-index: 2;
}
    .active:after {
        content: "";
        position: absolute;
        top: -5px; right: -5px; bottom: -5px; left: -5px;
        border-radius: 5px;
        background: #f5f5f5; 
        z-index: -1;
    }

    .active > .projection-wrapper[data-object="component"] { 
        transform: scale(0.95);
    }
    .active > .projection-wrapper[data-object="component"]:after { 
        content: "";
        position: absolute;
        top: -2px; right: -5px; bottom: -2px; left: -5px;
        border-radius: 5px;
        background: #f0f0f0;
        box-shadow: inset 0 1px 2px -1px #777;
        z-index: -1;
    }


.choice-container { position: relative; }

    .choice-container:not(.active) .choice-results { display: none; }

    .choice-input {
        position: relative;
        display: block;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        font-size: 1.4rem;
        background: 0 0;
        outline: 0;
        border: 0 none;
        border-bottom: 1px solid #a9a9a9
    }
        .choice-input:focus {
            border-color: royalblue;
            box-shadow:0 1px 0 royalblue;
        }

    .choice-results {
        position: absolute;
        width: 100%;
        /* box-sizing: border-box; */
        font-size: 1.3rem;
        box-shadow: 0 1px 2px #555;
    }
        .choice-result-item {
            padding: 5px 7px;
            width: 100%;
            box-sizing: border-box;
            font-weight: 500;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: .2s;
        }
            .choice-result-item:hover { 
                color: #fff; 
                background-color: #5F4B8B; 
            }

    .concept-container--active .btn-projection,
    .concept-container--active .btn-query {

    }

.notify {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 3vh 20px;
    width: 50vw;
    left: 25vw;
    text-align: center;
    z-index: 10;
    background: royalblue;
    color: #fff;
    box-shadow: 0 -2px 3px -1px #999;
    transform: translateY(200px);
    opacity: .5;
    transition: transform .5s, opacity .2s;
}
    .notify.open { 
        transform: translateY(0); 
        opacity: 1;
        transition: transform .2s, opacity .5s;
    }

.btn-projection {
    position: absolute;
    top: 5px; right: 5px;
    display: inline-block;
    padding: 2px 7px 4px;
    font-size: 1.3rem; font-weight: 600;
    color: #fff;
    border-radius: 2px;
    background-color: royalblue;
    z-index: 5;
}

.btn-import, 
.btn-export {
    position: fixed;
    height: 80px; width: 80px;
    padding: 0;
    line-height: 80px;
    font-size: 1.3em; font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background: radial-gradient(#333444, #323133);
    border-radius: 50%;
    box-shadow: 0 1px 5px -1px #1b1b1b;
    z-index: 10;
}

.btn-export {
    bottom: 5%; right: 5%;
}

.btn-import {
    bottom: calc(5% + 100px); right: 5%;
}

.convo__btn-action {
    margin-right: 5px;
    padding: 3px 5px;
    font-size: 0.9em; font-weight: 400;
    color:#fff;
    border-radius: 3px;
    background-color: rgb(42, 115, 224);
    box-shadow: 1px 0 0 rgb(0, 102, 255);
}

/* SCREEN SIZE: Narrow */
@media screen and (max-width: 44.99em) {
    aside {
        display: none;
    }

    .body {
        right: 0;
    }
}





/* Uncomment to display optional attributes [DEBUG]
---------------------------------------------------------------------------- */
/* .attribute--optional { width: 10px; height: 10px; background-color: crimson; } */
/* .field + .attribute--optional { margin-left: 5px; } */
/* .attribute--optional + .attribute--optional { margin-top: 5px; } */
/* .projection-wrapper--horizontal .attribute--optional + .attribute--optional { margin-left: 5px; } */