.explorer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    box-shadow: 0 0 1px #555;
    border-left: 1px solid #555;
    height: calc(100% - 20px);
    box-sizing: border-box;
    flex-grow: 2;
}
    .explorer-container.close { display: none; }
    

.explorer-header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    font-size: 1.2em;
    color: #333;
    transition: .2s;
}
    .explorer-header:before {
        content: "Explorer";
        position: absolute;
        top: 50%; left: 1%;
        font: 600 1.3rem 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif;
        color: #555;
        transform: translateY(-50%);
    }
    .explorer-header:hover {
        padding-bottom: 6px;
    }
        .explorer-header:hover .explorer-toolbar {
            border-bottom-left-radius: 10px;
        }

    .explorer-toolbar {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: flex-end;
        padding: 5px 10px;   
        width: 80px;
        box-sizing: border-box;
        align-self: flex-end;
        border-bottom-left-radius: 10px;
        background-color: #d5d5d5;
    }

    .explorer-header-concept {
        position: absolute;
        top: 0; bottom: 0; left: 30%; right: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 10px;
        border-radius: 180px;
        color: #555;
        background-color: #f0f0f0;
    }

        .explorer-header-concept-label {
            margin-right: 2px;
            font-size: 1.4em;
        }

        .btn-close {
            display: block;
            width: 20px;
            height: 20px;
            padding: 0;
            line-height: 15px;
            background: #e5e5e5;
            box-shadow: 0 1px 1px #555;
            border-radius: 50%;
        }
            .btn-close:after {
                content: "тип";
                font-size: 20px;
                color: #555;
            }

.explorer-body {
    padding: 20px 1% 10px;
    box-sizing: border-box;
    overflow: auto;
    background-color: #f5f5f5;
    scrollbar-color: #c0c0c0;
    scrollbar-width: thin;
    flex-grow: 1;
}

.explorer-input {
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 180px;
    border: 0 none;
    box-shadow: inset 0 1px 1px #555;
    font-size: 1.4rem;
}

.explorer-results {
    background: #f5f5f5;
    background-color: #343434;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    font-size: 1rem;
}
    .explorer-results.empty {
        display: none;
    }

    .explorer-result-title { 
        display: flex;
        width: 100%;
        font-size: 1.2em;
        text-transform: uppercase;
        align-items: center;
        color: #f5f5f5;
    }
        .explorer-result-title:before,
        .explorer-result-title:after {
            content: "";
            background-color: #d5d5d5;
            height: 2px;
            flex: 1;
        }
        .explorer-result-title:before { margin-right: 5px; }
        .explorer-result-title:after { margin-left: 5px; }

    .explorer-result-item {
            position: relative;
            font-size: 1.4em;
        }
        .explorer-result-item:hover,
        .explorer-result-item:focus { background-color: #555; }

        .explorer-result-item__checkbox { position: absolute; right: 99999px; }

        .explorer-result-item__label {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 5px; padding-left: 30px;
        }
            .explorer-result-item__label:before { 
                content: "";
                position: absolute;
                top: calc(50% - 5px); left: 10px;
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #fff;
            }
            .explorer-result-item__checkbox:checked + .explorer-result-item__label:before { 
                background-color: #FFD300;
            }
            .explorer-result-item__checkbox:required + .explorer-result-item__label:before { 
                border-radius: 1px;
                background-color: #ED2939;
            }

        .explorer-result-item__label-name {
            font-weight: 500;
        }

        .explorer-result-item__label-info {
            display: block;
            width: 100%;
            font-size: 0.9em;
        }
