.projection {
    position: relative;
    border: 1px solid #d5d5d5; border-radius: 1px;
}

.btn-hide {
    display: none;
}
.projection-container {
    
}

.projection-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    width: 100%;
}

.projection-wrapper--vertical {
    flex-direction: column;
}

    .projection-wrapper--vertical [data-nature=layout-part] {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
        .projection-wrapper--vertical [data-nature=layout-part]:not(:last-child) {
            margin-bottom: 5px;
        }

.projection-wrapper--horizontal {
    flex-direction: row;
}

    .projection-wrapper--horizontal [data-nature=layout-part] {
        position: relative;
        display: flex;
        flex-direction: column;
    }
        .projection-wrapper--horizontal [data-nature=layout-part]:not(:last-child) {
            margin-right: 5px;
        }

.field-wrapper {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.field {
    position: relative;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

    .field:hover .field-status {
        opacity: 0.4;
    }

    .field.active .field-status {
        opacity: 1;
        transform: scale(1.1) translateY(-2px);
    }
    .field.active .field-message {
        opacity: 1;
        transform: scale(1.1) translateY(-2px);
    }

    
    .field-notification {
        position: absolute;
        bottom: 100%; right: 0;
        display: flex;
        justify-content: flex-end;
        min-width: 100%;
        padding-bottom: 2px;
        z-index: 5;
    }

.field-status {
    height: 10px; width: 10px;
    border-radius: 50%;
    background-color: green;
    font-style: normal;
    opacity: 0;
    transition: .2s;
}

    .field-status.change {
        background-color: orange;
        opacity: 0.8;
    }

    .field-status.error {
        background-color: red;
        opacity: 1;
    }

    .field-status .error-message {
        position: absolute;
        top: 100%; left: 100%;
        display: block;
        min-width: 100px;
        padding: 5px;
        font-size: 0.9em; font-weight: 600;
        color: #fff;
        border-radius: 2px;
        background-color: rgb(221, 64, 36, 0.85);
        transform: translateY(-50%);
        opacity: 0;
        transition: .5s;
        z-index: -10;
    }

    .field.active .error-message {
        opacity: 1;
        z-index: 1;
        background-color: #db3b1f;
    }

    .field.active .notification-message {
        opacity: 1;
        z-index: 1;
    }


    .field-message {
        height: 10px; width: 10px;
        margin-left: 5px;
        border-radius: 50%;
        background-color: #555;
        font-style: normal;
        transition: .2s;
    }

        .field-message .notification-message {
            position: absolute;
            top: 100%; left: calc(100% + 2px);
            display: block;
            min-width: 100px;
            padding: 5px;
            font-size: 0.9em; font-weight: 600;
            color: #fff;
            border-radius: 2px;
            background-color: rgba(50, 50, 50, 0.85);
            box-shadow: 1px 2px 2px -1px rgba(100, 100, 100, 0.95);
            transform: translateY(-50%);
            opacity: 0;
            transition: .5s;
            z-index: -10;
        }


/*
 * Field: Label
-----------------------------------------------------------------------------*/

.field--label {
    white-space: nowrap;
    font-size: 1em;
}

/*
 * Field: Text
-----------------------------------------------------------------------------*/

.field--label + .field--textbox,
.field--label + .field--textbox__input,
.field--textbox + .field--textbox {
    margin-left: 3px;
}

.field--textbox {
    display: flex;
}

.field--textbox__input {
    display: inline-block;
    padding: 2px 5px 1px;
    font-size: 1em;
    border-style: solid; border-radius: 1px;
    overflow: hidden;
    outline: none;
    z-index: 5;
}
    .field--textbox__input:before {
        content: attr(data-placeholder);
        transition: .2s;
    }

    .field--textbox__input.error {
        background-color: rgba(191, 25, 50, 0.2)!important;
        border-color: #DD4124!important;
    }

    .field--textbox__input.empty {
        max-width: 150px;
        border-color: #ffd300;
        background-color: #fffff0;
        white-space: nowrap;
        font-size: 0.9em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .field--textbox__input.readonly {
        border: none!important;
        background: transparent!important;
        box-shadow: none!important;
    }
        .field--textbox__input.readonly:before {
            content: "";
            display: none;
        }

        .field--textbox__input.empty:before {
            color: #555;
        }
        .field--textbox__input.empty:not(:focus) {
            box-shadow: 0 -1px 2px -1px #c0c0c0;
        }
        .field--textbox__input:not(.empty) {
            background-color: #f5f5f5;
            border-color: #555;
            font-size: 1em;
        }
            .field--textbox__input:not(.empty):before {
                position: absolute;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 0.9em;
                color: #777;
                transform: translate(-5px, -100%);
                transition: transform .2s;
                z-index: 10;
            }
            .field--textbox__input:not(.empty):focus {
                background-color: #fefefe;
            }
                .field--textbox__input:not(.empty):focus:before {
                    padding: 1px 2px;
                    font-size: 0.95em; font-weight: 600;
                    color: #222;
                    background: rgba(255, 255, 255, 0.8);
                    z-index: 20;
                }
    .field--textbox__input:focus {
        border-width: 1px; border-radius: 2px;
    }
        .field--textbox__input:not(:focus) {
            border-width: 0 0 2px;
        }
            .field--textbox__input:not(:focus):hover {
                box-shadow: 0 -1px 2px #c0c0c0;
            }

.field--textbox__choices {
    position: absolute;
    top: 100%; left: 0;
    min-width: 150px;
    font-size: 1em;
    background-color: #fff;
    box-shadow: 0 1px 2px #999;
    z-index: 10;
    cursor: default;
}

.field--textbox__choice {
    padding: 5px 1%;
    box-sizing: border-box;
    font-size: 0.9em;
}
    .field--choice__choice:hover {
        background-color: #ffd300;
    }

/*
 * Field: List
-----------------------------------------------------------------------------*/

.field--list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;    
    width: 100%;
}
    .field--list.vertical { flex-direction: column; }

    .field--list.horizontal { flex-direction: row; }

    .field--list.active > .field--list-item {
        padding: 5px;
        box-shadow: 1px 2px 1px #c0c0c0;
    }

    .field--list-item {
        position: relative;
        display: flex;
        box-sizing: border-box;
        font-size: 1em;
        transition: .2s;
    }

    .field--list__add {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        font-size: 1em;
        transition: .2s;
        border: 2px dashed rgb(42, 115, 224);
        cursor: default;
    }
        .field--list__add:hover {
            border: 2px solid rgb(0, 102, 255);
            box-shadow: 7px -5px 0 rgb(0, 102, 255);
        }


/*
 * Field: Table
-----------------------------------------------------------------------------*/

.field--table {
    width: 100%;
}

    .field--table-cell {
        position: relative;
        padding: 2px 1%;
    }


/*
 * Field: Choice
-----------------------------------------------------------------------------*/

.field--choice {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    font-size: 1em;
}

    .field--choice__input {
        font-size: 1.4rem;
    }

    .field--choice__choices {
        position: relative;
        background: #fff;
        box-shadow: 0 1px 2px #999;
        z-index: 2;
        cursor: pointer;
    }

    .field--choice__choice {
        position: relative;
        padding: 2px 5px 3px;
        box-sizing: border-box;
        font-size: 0.9em;
    }
        .field--choice__choice:hover {
            background-color: #ffd300;
        }


/*
 * Field: Link
-----------------------------------------------------------------------------*/

.field--link {
    font-size: 1em;
}

    .field--link__input {
        font-size: 1.4rem;
    }

    .field--link__choices {
        position: relative;
        background: #fff;
        box-shadow: 0 1px 2px #999;
        z-index: 2;
        cursor: pointer;
    }
    .field--link__choice {
        position: relative;
        padding: 2px 5px 3px;
        box-sizing: border-box;
        font-size: 0.9em;
    }
        .field--link__choice:hover {
            background-color: #ffd300;
        }