.layout-container {
    position: relative;
    transition: .2s;
}

.btn-collapse {
    position: absolute;
    top: 0; left: -24px;
    font-weight: 600;
    width: 24px;
    height: 24px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50%;
    background-color: royalblue;
    box-shadow: 2px 1px 2px -1px #555;
    opacity: 0.2;
    transition: .2s;
    z-index: 10;
}
    .btn-collapse:hover { opacity: 1; }
    .btn-collapse:before {
        content: '>';
        position: absolute;
        top: 50%; left: 50%; 
        font-size: 1.3em; font-weight: 400;
        transform: translate(-20%, -50%) rotate(90deg);
        transition: transform .2s;
    }
    .btn-collapse.on {
        box-shadow: none;
        color: #fff;
        background-color: #232425;
        opacity: 1;
        z-index: 10;
    }
        .btn-collapse.on:before { transform: translate(-30%, -60%); }

.layout-container-collapse {
    display: none;
}        

.has-toolbar {
    padding-top: 40px;
}

.active > .btn-delete {
    opacity: 0.8;
    z-index: 10;
}

.structure__btn-delete {
    position: absolute;
    top: 0; right: 0;
    width: 24px; height: 24px;
    font-weight: 600;
    z-index: 5;
}
    .structure__btn-delete:before {
        content: "✖";
        display: block;
        transition: .2s;
    }

.layout-container .btn-edit {
    position: absolute;
    top: 0; left: calc(100% + 2px);
    padding: 4px 6px;
    font-size: 1.3rem;
    color: #fff;
    background-color: #232425;
    border-radius: 4px;
    opacity: 0;
    transform: scale(0);
    transition: .2s;
}

/* .layout-container.active-parent > .btn-edit,
.layout-container.active > .btn-edit {
    opacity: 1;
    transform: scale(1);   
} */

.layout-container.edit {
    box-shadow: inset 0 1px 1px #999;
    background-color: #f5f5f5;
}

    .layout-container.edit > [data-nature="layout"] {
        opacity: 0.8;
    }

.layout-menu {
    position: absolute;
    top: 0; left: calc(100% + 2px);
    padding: 20px 12px 8px;
    min-width: 300px;
    font-size: 1rem;
    color: #fff;
    background-color: #232425;
    border-radius: 4px;
    opacity: 0;
    transform: scale(0);
    transition: .2s;
}

    .layout-menu.open {
        opacity: 1;
        transform: scale(1);   
    }

    .layout-menu .btn-edit {
        left: unset; right: 0;
        background-color: royalblue;
        opacity: 1;
        transform: scale(1);
        z-index: 5;
    }

.radio-group {
    display: flex;
}

.stack-orientation {
    display: flex;
    align-items: center;
    font-size: 1.4em;
}
    .stack-orientation:not(:last-child) {
        margin-right: 6px;
    }

    .stack-orientation__input {
        margin-right: 2px;
    }