.projection-container {
    position: relative;
    width: 100%;   
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.projection-wrapper--vertical {
    flex-direction: column;
}

    .projection-wrapper--vertical > [data-nature=layout-part] {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        z-index: 10;
    }

.projection-wrapper--horizontal {
    flex-direction: row;
}

    .projection-wrapper--horizontal > [data-nature=layout-part] {
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 2;
    }

.projection-header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}    
        .projection-header:hover + .projection-body:before {
            opacity: 0.8;
        }
    
        .projection-header.collapsed .projection-header-content {
            display: none;
        }

.btn-collapse {
    position: absolute;
    top: 0; left: -32px;
    font-weight: 600;
    width: 24px;
    height: 24px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50%;
    background-color: royalblue;
    box-shadow: 2px 1px 2px -1px #555;
    opacity: 0.2;
    transition: .2s;
    z-index: 10;
}
    .btn-collapse:hover {
        opacity: 1;
    }
    .btn-collapse:before {
        content: '>';
        position: absolute;
        top: 50%; left: 50%; 
        font-size: 1.3em; font-weight: 400;
        transform: translate(-20%, -50%) rotate(90deg);
        transition: transform .2s;
    }
    .btn-collapse.on {
        box-shadow: none;
        color: #fff;
        background-color: #232425;
        opacity: 1;
        transform: scale(1.05);
    }
        .btn-collapse.on:before { transform: translate(-30%, -60%); }

.projection-body {
    position: relative;
    box-sizing: border-box;
    transition: .2s;
    height: auto;
}
    .projection-body:before {
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0px;
        width: 4px;
        background-color: royalblue;
        opacity: 0;
        transform: translateX(-4px);
        transition: .2s;
        z-index: 20;
    }
    .projection-body.collapsed {
        height: 6px!important;
        overflow: hidden;
        margin-bottom: 20px;
    }
        .projection-body.collapsed:before {
            width: 100%;
            background-color: #1b1b1b;
            transform: translateX(0);
            opacity: 1;
        }