body { display: flex; flex-direction: column; }

h1, h2, h3, h4 { font-family: 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, sans-serif; }

.content-wrapper { padding-left: 1%; padding-right: 1%; }

.page-header { height: 30px; background-color: #F5DF4D; }

.page-title {
    margin: 0;
    padding-top: 6px; padding-bottom: 6px;
    font-size: 1.5rem; font-weight: 500;
}

.page-body {
    flex-grow: 2;
    display: flex;
    height: calc(100% - 30px);    
}

.app {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.field-action { 
    border: 0 none; 
    padding: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.editor-concept > .layout-container {
    background-color: #fefefe;
}

.editor-body-main {
    background: url('https://geodes-sms.github.io/gentleman/demo/todo/assets/icon_checklist_clipboard_mobile_512px.png') center/contain no-repeat;
}


.td-todo-header {
    padding: 6px;
    border-bottom: 4px solid #5F4B8B;
}

    .td-todo-icon {
        height: 30px;
    }

    .td-todo-title {
        flex-grow: 2;
        font-weight: 100;
    }

    .td-todo-icon + .td-todo-title {
        margin-left: 6px;
    }

    .td-todo-title .td-textbox__input {
        padding: 2px 4px;
        font-size: 1.9em;
        border: 0 none;
        border-radius: 4px;
    }

    .td-todo-title:not(.active):not(.empty) .td-textbox__input {
        text-transform: uppercase;
        background: none;
    }

.td-todo-body {
    flex-grow: 2;
}


.selector-choice {
    position: relative;
    z-index: 10;
}

.selector-choice__options { 
    display: flex; 
    border-radius: 180px;  
}

    .selector-choice__option { 
        flex: 1 1; 
        display: flex; justify-content: center;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        border: 0 none; border-radius: 180px;
        background-color: #c0c0c0;
        z-index: 10;
    }
    .selector-choice__option:not(:last-child) {
        margin-right: 4px;
    }
        .selector-choice__option:hover {
            background-color: #63B1FF;
        }
        .selector-choice__option.selected {
            color: #fff;
            background-color: #2D8DED;
        }
  


.task-choice {
    position: relative;
    font-size: 1.3em;
    z-index: 20;
}

    .task-choice-icon {
        height: 24px;
        width: auto;
    }

    .task-choice-tooltip {
        position: absolute;
        top: calc(100% + 2px);
        padding: 2px 4px;
        font-size: 0.9em;
        color: #fff;
        background-color: #232323;
        opacity: 0;
        transform: scale(0);
        transition: .2s;
        transition-property: opacity, transform;
        z-index: 20;
    }

    .selector-choice__option:hover .task-choice-tooltip {
        opacity: 1;
        transform: scale(1);
    }


.td-textbox {
    position: relative;
    display: flex; flex-direction: column;
    font-size: 1rem;
}
    .td-textbox.active {
        box-shadow: none;
    }
    
.td-textbox__input {
    position: relative;
    display: block;
    padding: 3px 4px 2px;
    width: 100%;
    font-size: 1.4em;
    background-color: #f5f5f5;
    color: #222;
    outline: none;
    border: 0 none; border-bottom: 2px solid #c0c0c0; border-radius: 2px 2px 0 0;
    z-index: 1;
}

    .td-textbox__input:focus {
        border-color: #2D8DED;
    }

    .td-textbox__input.error {
        border-color: #F27E88;
    }

.td-textbox--date {
    width: 150px;
}

.td-label {
    position: relative;
    font-size: 1.2em; font-weight: 500;
    color: #0E58A1;
    opacity: 1;
    transition: .2s;
    transition-property: opacity, transform;
    z-index: 5;
}

    .td-textbox.empty .td-label {
        bottom: 2px; left: 2px;
        font-size: 1.4em; font-weight: 400;
        transform: scale(0.8) translateY(100%);
        opacity: 0;
        z-index: -1;
        color: #777;
    }

.td-textarea {
    padding: 0;
}

.td-textarea.active {
    box-shadow: none;
}

.td-textarea__input {
    padding: 4px;
    border: 0 none;
    background-color: #f0f0f0;
    font-size: 1.3rem;
    border-radius: 3px;
}

    .td-textarea__input.error {
        border-color: #F27E88;
    }

    .td-textarea:not(.active):not(.empty) .td-textarea__input {
        background: none;
        color: #555;
    }



/*
  Tag SET styling
-----------------------------------------------------------------------------*/

.td-tags {
    padding-bottom: 12px;
    min-width: 180px; max-width: 300px;
    background-color: #FFFACD;
    box-shadow: -1px 0 4px -1px #c0c0c0;
    background-color: #eee;
    margin-left: 2px;
    z-index: 2;
}

.td-tag-set-header {
    align-items: center;
    padding: 6px 6px 2px;
    margin-bottom: 6px;
}

.td-tag-set-body {
    flex-grow: 2;
    padding: 6px;
}

    .td-tag-set-title {
        color: #555; 
        font-size: 1.4em; font-weight: 300;
        text-transform: uppercase;
        margin-right: 6px;
    }

    .td-tag-set-header__button {
        display: flex; align-items: center;
        height: 20px; width: 20px;
        font-weight: 400;
        border-radius: 50%;
        background-color: #e5e4e2;
        color: #2DA65F;
    }
        .td-tag-set-header__button:hover { 
            color: #fff; 
            background-color: #2DA65F;
        }

        .td-tag-set-header__button-content {
            display: flex; align-items: center; justify-content: center;
            width: 100%;
            height: 100%;
            transform: scale(1.7) translateY(-1px);
        }

.td-tag-set__list {
    display: flex; flex-wrap: wrap;
}

.td-tag-set__list-item {
    display: flex; flex-direction: row; align-items: center;
    background-color: #f5f5f5;
    margin-right: 6px;
    margin-bottom: 6px;
}

    .td-tag-set__list-item .projection__btn-delete {
        position: relative;
        background-color: #FFEB69;
        color: #222;
        height: 100%;
    }
        .td-tag-set__list-item .projection__btn-delete:hover {
            background-color: #f1645a;
            color: #fff;
        }

.td-tag {
    background-color: #FFEB69;
}

    .td-tag .td-textbox {
        height: 100%;
    }

    .td-tag .td-textbox__input  {
        padding: 1px 2px;
        height: 100%;
        color: #222;
        background: none;
        border: 0 none;
        border-radius: 0;
    }

    .td-tag .td-textbox.error .td-textbox__input {
        background-color: #F55540;
        border: 0 none;
    }

    .td-tag .td-textbox.empty .field--textbox__input-pseudo:before  {
        color: #555;
    }

    .td-tag .priority-select {
        color: #fff;
        background-color: #7B6BB3;
    }

    .priority-select .field--choice__select-wrapper {
        border: 0 none;
    }

    .td-tag .priority-select__choice {
        color: #fff;
        font-size: 1rem;
        
    }

    .td-tag .priority-select__choice-option {
        color: #3E3366;
        font-size: 1.3em;
        padding: 3px 6px;
        border: 0 none;
    }

/*
  Task SET styling
-----------------------------------------------------------------------------*/

.td-tasks {
    flex-grow: 2;
    padding-bottom: 12px; padding-top: 6px; 
    padding-right: 12px;
    min-width: 300px;
    background-color: #f5f5f5;
}

.td-task {
    position: relative;
}

.td-task-header {
    padding-left: 12px;
    flex-grow: 2;
}

.td-task__btn-option {
    position: relative;
    display: flex; align-items: center; justify-content: center;
    margin-left: 6px;
    width: 24px; height: 24px;
    padding-bottom: 8px;
    border-radius: 50%;
    background-color: #555;
    cursor: pointer;
}

    .td-task__btn-option-content {
        color: #fff;
        font-weight: 800; font-size: 1em;
    }

    .td-task__btn-option-tooltip {
        position: absolute;
        top: calc(100% + 2px); left: 0;
        padding: 2px 4px;
        font-size: 0.9em;
        color: #fff;
        background-color: #232323;
        opacity: 0;
        transform: scale(0);
        transition: .2s;
        transition-property: opacity, transform;
        z-index: 20;
    }

    .td-task__btn-option:hover .td-task__btn-option-tooltip {
        opacity: 1;
        transform: scale(1);
    }


.td-task-set-header {
    align-items: center;
    padding-bottom: 2px;
    border-bottom: 2px solid #283440;
    margin-bottom: 6px;
}

    .td-task-set-header-title {
        color: #283440;
        text-transform: uppercase;
        margin-right: 6px;
    }

    .td-task-set-header__button {
        display: flex; align-items: center;
        height: 18px; width: 18px;
        font-weight: 400;
        border-radius: 50%;
        background-color: #e5e4e2;
        color: #0f1311;
    }
        .td-task-set-header__button:hover { 
            color: #fff; 
            background-color: #2DA65F;
         }

        .td-task-set-header__button-content {
            display: flex; align-items: center; justify-content: center;
            width: 100%;
            height: 100%;
            transform: scale(1.6) translateY(-1px);
        }

.td-task-set__list {
    display: flex; flex-direction: column;
    padding-right: 6px; padding-left: 6px;
}

.td-task-set__list-item {
    padding: 6px;
    border-radius: 4px;
    background-color: #fefefe;
    box-shadow: 0 0 0 1px #d5d5d5;
}
    .td-task-set__list-item:not(:last-child) {
        margin-bottom: 12px;
    }

    .td-task-set__list-item > .projection__btn-delete {
        position: absolute;
        top: 2px; right: 2px;
        width: 24px;
        height: 24px;
        font-size: 2rem; font-weight: 100;
        border-radius: 50%;
        color: #555;
    }
        .td-task-set__list-item > .projection__btn-delete:hover {
            color: #F55540;
        }
            .td-task-set__list-item > .projection__btn-delete:hover:before {
                transform: rotate(180deg);
            }

    .td-task-set__button {
        margin-top: 12px; margin-left: 6px;
        display: flex; align-items: center; justify-content: center;
        padding: 8px 12px;
        font-weight: 300;
        color: #fff;
        background-color: #555;
        transition: .2s;
    }
     
    .td-task-set__button-icon {
        margin-right: 12px;
        color: #63B1FF;
        transform: scale(2) translateY(-1.5px);
        transition: .2s;
    }

    .td-task-set__button-content {
        transition: .2s;
    }

    .td-task-set__button:hover {
        background-color: #2D8DED;
    }
        .td-task-set__button:hover .td-task-set__button-icon {
            opacity: 0;
        }
        .td-task-set__button:hover .td-task-set__button-content {
            transform: translateX(-12px) scale(1.1);
        }

  

.td-task-header {
    margin-bottom: 2px;
}


 


/*
  Tag REFERENCE styling
-----------------------------------------------------------------------------*/

.tag-reference {
    color: #555;
    background-color: #fff;
    box-shadow: 0 1px 1px -1px #999;
    cursor: default;
}

    .tag-reference .field--choice__select-wrapper { 
        padding-left: 2px; 
        border: 0 none;
        border-bottom: 2px solid #999;
    }

    .tag-reference__choice {
        font-size: 1rem;
    }

    .tag-reference__choice-option {
        color: #555;
        background-color: #fff;
        padding: 4px 6px;
        font-size: 1.3em;
        border: 0 none;
    }
        .tag-reference__choice-option:nth-child(odd) { background-color: #eee; }
        .tag-reference__choice-option:first-child { background-color: #d5d5d5; }
        .tag-reference__choice-option:hover { background-color: #FFEF94; }
        
        .tag-reference .text:empty:after {
            content: "null";
            color: #777;
            font-weight: 400;
            font-style: italic;
        }


.check-field {
    position: relative;
}

.check-field[data-state="on"] + .td-task-header .td-textbox__input {
    text-decoration: line-through;
    border: 0 none;
    background: none;
}

.check-field[data-state="on"] + .td-task-header .td-textarea__input {
    background: none;
}

.check-field__checkbox {
    display: none;
}

.check-field__label {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 2px solid #d5d5d5;
    background-color: #fff;
    opacity: 0.8;
    transition: .2s;
}

.check-field__label:hover,
.check-field__label:focus {
    border-color: #555;
    border-radius: 50%;
    opacity: 1;
}

    .check-field__label:after {
        content: "✓";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        display: flex; align-items: center; justify-content: center;
        font-weight: 800;
        color: #0E58A1;
        opacity: 0;
        transform: scale(0);
        transition: .1s; transition-property: opacity, transform;
    }

    .check-field__checkbox:checked + .check-field__label {
        border-color: #2D8DED;
        border-radius: 50%;
        opacity: 1;
    }

        .check-field__checkbox:checked + .check-field__label:after {
            opacity: 1;
            transform: scale(2) translate(1px, -4px);
        }

.td-option-sideview {
    width: 50%;
    max-width: 300px;
    border: 0 none;
}

    .td-option-sideview .editor-concept {
        border-radius: 0;
        box-shadow: none;
        background-color: #fff;
        height: 100%;
    }

    .td-option-sideview .editor-concept-header {
        border-radius: 0;
    }

    .td-option-sideview .editor-concept-toolbar__btn-collapse,
    .td-option-sideview .editor-concept-toolbar__btn-maximize {
        display: none;
    }

    .td-option-sideview .editor-concept-title {
        font-style: normal;
    }

    .td-option-sideview .resizers {
        display: none;
    }

.td-task-option {
    padding: 6px 12px;
}

    .td-task-option .td-tag-set-header {
        padding-left: 0;
    }

    .td-task-option .td-tag-set-body {
        padding: 0;
    }

    .td-task-option .td-tag-set-title {
        font-size: 1.2em; font-weight: bold;
        text-transform: capitalize;
    }

.td-groupfield-label {
    font-weight: 500;
    text-transform: capitalize;
}

.period-title {
    font-size: 1.2em;
    font-weight: 400;
    color: #555;
    margin-bottom: 2px;
}

.td-task-recurrence {
    margin-top: 3px;
}

.td-task-recurrence .td-textbox {
    width: 20px;
}